<div class="row">
    <div class="col-sm-12">
        <div class="element-wrapper">
            <h6 class="element-header">
                <%= t("page_analytics_title") %>
            </h6>
            <div class="element-box">
                <div class="controls-above-table">
                    <form class="inline">
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                            <input type="submit" value="Download CSV" name="download" class="btn btn-info btn-rounded float-right">
                            <input type="submit" value="Download CSV for Veil" name="download" class="btn btn-warning btn-rounded float-right">
                            <a href="<%= analyticsFullDownloadPath() %>" class="btn btn-warning btn-rounded float-right">Generate Full Records</a>
                            <!-- <input type="submit" value="Submit" name="filter" class="btn btn-primary btn-rounded float-right"> -->
                        </div>
                    </div>
                </form>
                </div>

                <div class="table-responsive-xs table-responsive-sm table-responsive-md table-responsive-lg" style="overflow-x: scroll;">
                    <table class="analytics table table-striped table-bordered" style="margin-bottom: 1.2rem; font-size: 0.8rem;">
                        <thead style="text-align: center;">
                            <tr>
                                <th rowspan="2">Date</th>
                                <th rowspan="2">Study ID</th>
                                <th rowspan="2">Age</th>
                                <th rowspan="2">Gender</th>
                                <th colspan="4">Right Eye (OD)</th>
                                <th colspan="4">Left Eye (OS)</th>
                                <th rowspan="2">Referral</th>
                                <th rowspan="2">Notes</th>
                                <th colspan="8">Over Readings</th>
                            </tr>
                            <tr>
                                <th scope="colgroup">V/A</th>
                                <th scope="colgroup">Previous V/A</th>
                                <th scope="colgroup">DR Grade</th>
                                <th scope="colgroup">DME</th>
                                <th scope="colgroup">V/A</th>
                                <th scope="colgroup">Previous V/A</th>
                                <th scope="colgroup">DR Grade</th>
                                <th scope="colgroup">DME</th>
                                <th scope="colgroup">DR Grade (Right)</th>
                                <th scope="colgroup">DME (Right)</th>
                                <th scope="colgroup">Suspected (Right)</th>
                                <th scope="colgroup">DR Grade (Left)</th>
                                <th scope="colgroup">DME (Left)</th>
                                <th scope="colgroup">Suspected (Left)</th>
                                <th scope="colgroup">Referral</th>
                                <th scope="colgroup">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%= for (p) in participants { %>
                            <tr>
                                <th><%= languageDate(p.CreatedDate,  "02-Jan-2006", t("lang_calendar")) %></th>
                                <th><%= p.ParticipantID %></th>
                                <th><%= p.Age %></th>
                                <th><%= p.Gender %></th>
                                <th><%= p.VAOD %></th>
                                <th><%= p.VAPreviousOD %></th>
                                <th><%= p.DRGradeOD %></th>
                                <th><%= p.DMEOD %></th>
                                <th><%= p.VAOS %></th>
                                <th><%= p.VAPreviousOS %></th>
                                <th><%= p.DRGradeOS %></th>
                                <th><%= p.DMEOS %></th>
                                <th><%= p.DrReferral %></th>
                                <th><%= p.ReferralNotes %></th>
                                <th><%= p.DRGradeOVRight %></th>
                                <th><%= p.DMEOVRight %></th>
                                <th><%= arrayStringView(p.SuspectedRight.String) %></th>
                                <th><%= p.DRGradeOVLeft %></th>
                                <th><%= p.DMEOVLeft %></th>
                                <th><%= arrayStringView(p.SuspectedLeft.String) %></th>
                                <th><%= p.OVReferral %></th>
                                <th><%= p.OVReferralNotes %></th>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>

                <div class="controls-below-table">
                    <div class="table-records-info">
                        <%= t("pagination_title") %>
                        <%= pagination.Offset + 1 %> -
                        <%= pagination.Offset + pagination.CurrentEntriesSize %> of
                        <%= pagination.TotalEntriesSize %>
                        |
                        <%= t("pagination_view_label") %>
                        <a href="?per_page=10">
                            <%= t("pagination_options_10") %></a> /
                        <a href="?per_page=20">
                            <%= t("pagination_options_20") %></a> /
                        <a href="?per_page=50">
                            <%= t("pagination_options_50") %></a>
                        <%= t("pagination_perpage_label") %>
                    </div>
                    <div class="table-records-pages">
                        <style>
                            .page-link {
                                border: none;
                                padding: 0 2px;
                            }
                        </style>
                        <%= paginator(pagination, {"class":"", "previousContent": "Previous", "nextContent": "Next"}) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
