<div class="row justify-content-lg-center">
    <div class="col-lg-8">
        <div class="element-wrapper">
            <h6 class="element-header">
                Add New Over Reading
            </h6>
            <div class="element-box">
                <div class="row">
                    <div class="col">
                        <%= if (errors) { %>
                        <%= for (key, val) in errors { %>
                        <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                            <%= val %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <% } %>
                        <% } %>
                    </div>
                </div>
                <form action="<%= participantOverreadingsCreatePath({pid: participant.ID}) %>" method="POST">
                    <%= csrf() %>
                    <div class="element-actions">
                        <a class="btn btn-secondary btn justify-content-sm-end" href="#" role="button">
                            <%= participant.ParticipantID %></a>
                    </div>
                    <div class="form-desc">
                        <h6>Over Read</h6>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <%= participant.Name %> |
                                <%= participant.Gender %> |
                                <%= participant.DOB.Format("02-01-2006") %>
                            </p>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <legend><span>Results</span></legend>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="profile-tile" style="border: none;">
                                    <button class="profile-tile-box" style="width: 100%;
                                            background-color: #e1f1e1; border: none;" data-target="#leftEyeModal" data-toggle="modal" type="button">
                                        <div class="pt-avatar-w" style="width: 84px;">
                                            <img alt="" src="<%= assetPath("images/left-eye.png") %>">
                                        </div>
                                        <div class="pt-user-name">
                                            View Left Eye
                                        </div>
                                    </button>
                                    <div aria-hidden="true" aria-labelledby="leftEyeModalLabel" class="modal fade" id="leftEyeModal" role="dialog" tabindex="-1">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="leftEyeModalLabel">
                                                        Left Eye
                                                    </h5>
                                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">
                                                            &times;</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <iframe src="<%= leftEyeLink %>"
                                                        frameborder="0" style="width: 100%; height: 600px;"></iframe>
                                                    <input type="hidden" name="leftEyeLink" value="<%= leftEyeLink %>">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5>Left Eye</h5>
                                    <label for="">Visual Acuity</label>
                                    <input class="form-control" placeholder="V/A" type="text" name="LeftVisualAcuity" />
                                    <div class="help-block form-text text-muted form-control-feedback">
                                        Screener:
                                        <%= screening.LeftVisualAcuity %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">DR Grading</label>
                                    <select class="form-control" name="LeftGradingDr">
                                        <option value="Ungradeable">
                                            Ungradeable
                                        </option>
                                        <option value="Normal">
                                            Normal
                                        </option>
                                        <option value="Mild DR">
                                            Mild DR
                                        </option>
                                        <option value="Moderate DR">
                                            Moderate DR
                                        </option>
                                        <option value="Severe DR">
                                            Severe DR
                                        </option>
                                        <option value="Proliferative DR">
                                            Proliferative DR
                                        </option>
                                    </select>
                                    <div class="help-block form-text text-muted form-control-feedback">
                                        Screener:
                                        <%= screening.LeftGradingDr %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">DME Assessment</label>
                                    <select class="form-control" name="LeftGradingDme">
                                        <option value="Present">
                                            Present
                                        </option>
                                        <option value="Not Present">
                                            Not Present
                                        </option>
                                    </select>
                                    <div class="help-block form-text text-muted form-control-feedback">
                                        Screener:
                                        <%= screening.LeftGradingDme %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 ml-auto">
                                <div class="profile-tile" style="border: none;">
                                    <button class="profile-tile-box" style="width: 100%;
                                                    background-color: #e1f1e1; border: none;" data-target="#rightEyeModal" data-toggle="modal" type="button">
                                        <div class="pt-avatar-w" style="width: 84px;">
                                            <img alt="" src="<%= assetPath("images/right-eye.png") %>">
                                        </div>
                                        <div class="pt-user-name">
                                            View Right Eye
                                        </div>
                                    </button>
                                    <div aria-hidden="true" aria-labelledby="rightEyeModalLabel" class="modal fade" id="rightEyeModal" role="dialog" tabindex="-1">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="rightEyeModalLabel">
                                                        Right Eye
                                                    </h5>
                                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">
                                                            &times;</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <iframe src="<%= rightEyeLink %>"
                                                        frameborder="0" style="width: 100%; height: 600px;"></iframe>
                                                    <input type="hidden" name="rightEyeLink" value="<%= rightEyeLink %>">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5>Right Eye</h5>
                                <div class="form-group">
                                    <label for="">Visual Acuity</label>
                                    <input class="form-control" placeholder="V/A" type="text" name="RightVisualAcuity" />
                                    <div class="help-block form-text text-muted form-control-feedback">
                                        Screener:
                                        <%= screening.RightVisualAcuity %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">DR Grading</label>
                                    <select class="form-control" name="RightGradingDr">
                                        <option value="Ungradeable">
                                            Ungradeable
                                        </option>
                                        <option value="Normal">
                                            Normal
                                        </option>
                                        <option value="Mild DR">
                                            Mild DR
                                        </option>
                                        <option value="Moderate DR">
                                            Moderate DR
                                        </option>
                                        <option value="Severe DR">
                                            Severe DR
                                        </option>
                                        <option value="Proliferative DR">
                                            Proliferative DR
                                        </option>
                                    </select>
                                    <div class="help-block form-text text-muted form-control-feedback">
                                        Screener:
                                        <%= screening.RightGradingDr %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">DME Assessment</label>
                                    <select class="form-control" name="RightGradingDme">
                                        <option value="Present">
                                            Present
                                        </option>
                                        <option value="Not Present">
                                            Not Present
                                        </option>
                                    </select>
                                    <div class="help-block form-text text-muted form-control-feedback">
                                        Screener:
                                        <%= screening.RightGradingDme %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-buttons-w">
                        <button class="btn btn-primary" type="submit"> Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
