<div class="row justify-content-lg-center">
    <div class="col-lg-8">
        <div class="element-wrapper">
            <h6 class="element-header">
                <%= t("page_overreadcase_title") %>
            </h6>
            <div class="element-box">
                <div class="row">
                    <div class="col">
                        <%= if (errors) { %>
                        <%= for (key, val) in errors { %>
                        <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                            <%= val %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <% } %>
                        <% } %>
                    </div>
                </div>
                <form action="<%= caseOverreadingsCreatePath({pid: participant.ID}) %>" method="POST">
                    <%= csrf() %>
                    <div class="form-desc">
                        <h6><%= participant.ParticipantID %></h6>
                        <p>
                            <%= genderHelper(participant.Gender) %> |
                            <%= ageHelper(participant.DOB) %>
                        </p>
                    </div>
                    <fieldset class="form-group">
                        <legend><span><%= t("section_dr_assessment_header") %></span></legend>
                        <div class="row">
                            <div class="col-sm-6">
                                <h5><%= t("header_right_eye") %></h5>
                                <div class="img-thumbnail text-center">
                                    <img class="fullscreen-image" src="<%= assetPath("images/right-thumb.jpg") %>" data-high-res-src="<%= assetPath("images/right.jpg") %>">
                                </div>
                                <div class="none" style="margin-top: 20px"></div>
                                <div class="form-group">
                                    <label for=""><%= t("field_visual_acuity") %></label>
                                    <input class="form-control" type="text" value="<%= screening.Eyes.RightEye.VisualAcuity.String %>" disabled>
                                </div>
                                <div class="form-group">
                                    <label for=""><%= t("label_drgrading") %></label>
                                    <select class="form-control" name="Eyes.RightEye.DRGrading">
                                        <option value="Ungradeable">
                                            <%= t("option_ungradeable") %>
                                        </option>
                                        <option value="Normal">
                                            <%= t("option_normal") %>
                                        </option>
                                        <option value="Mild DR">
                                            <%= t("option_mild_npdr") %>
                                        </option>
                                        <option value="Moderate DR">
                                            <%= t("option_mod_npdr") %>
                                        </option>
                                        <option value="Severe DR">
                                            <%= t("option_severe_npdr") %>
                                        </option>
                                        <option value="Proliferative DR">
                                            <%= t("option_proliferative_dr") %>
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for=""><%= t("label_dme") %></label>
                                    <select class="form-control" name="Eyes.RightEye.DMEAssessment">
                                        <option value="Present">
                                            <%= t("option_dme_present") %>
                                        </option>
                                        <option value="Not Present">
                                            <%= t("option_dme_notpresent") %>
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 ml-auto">
                                <h5><%= t("header_left_eye") %></h5>
                                <div class="img-thumbnail text-center">
                                    <img class="fullscreen-image" src="<%= assetPath("images/left-thumb.jpg") %>" data-high-res-src="<%= assetPath("images/left.jpg") %>">
                                </div>
                                <div class="none" style="margin-top: 20px"></div>
                                <div class="form-group">
                                    <label for=""><%= t("field_visual_acuity") %></label>
                                    <input class="form-control" type="text" value="<%= screening.Eyes.LeftEye.VisualAcuity.String %>" disabled>
                                </div>
                                <div class="form-group">
                                    <label for=""><%= t("label_drgrading") %></label>
                                    <select class="form-control" name="Eyes.LeftEye.DRGrading">
                                        <option value="Ungradeable">
                                            <%= t("option_ungradeable") %>
                                        </option>
                                        <option value="Normal">
                                            <%= t("option_normal") %>
                                        </option>
                                        <option value="Mild DR">
                                            <%= t("option_mild_npdr") %>
                                        </option>
                                        <option value="Moderate DR">
                                            <%= t("option_mod_npdr") %>
                                        </option>
                                        <option value="Severe DR">
                                            <%= t("option_severe_npdr") %>
                                        </option>
                                        <option value="Proliferative DR">
                                            <%= t("option_proliferative_dr") %>
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for=""><%= t("label_dme") %></label>
                                    <select class="form-control" name="Eyes.LeftEye.DMEAssessment">
                                        <option value="Present">
                                            <%= t("option_dme_present") %>
                                        </option>
                                        <option value="Not Present">
                                            <%= t("option_dme_notpresent") %>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <legend><span><%= t("section_referral_header") %></span></legend>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for=""><%= t("label_refer") %></label>
                                    <select class="form-control" name="referral">
                                        <option value="yes">
                                            <%= t("option_yes") %>
                                        </option>
                                        <option value="no" selected>
                                            <%= t("option_no") %>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-buttons-w">
                        <button class="btn btn-primary" type="submit"> <%= t("button_submit") %></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
