<div class="row justify-content-lg-center">
    <div class="col-lg-12">
        <div class="element-wrapper">
            <h6 class="element-header">
                <%= t("page_overreadcase_title") %>
            </h6>
            <div class="element-box">
                <form action="" method="">
                    <%= csrf() %>
                    <div class="form-desc">
                        <div class="row">
                            <div class="col-md-6">
                                    <h6><%= participant.ParticipantID %></h6>
                                    <p>
                                        <%= genderHelper(participant.Gender) %> |
                                        <%= ageHelper(participant.DOB.CalculatedDate) %>
                                    </p>
                            </div>
                            <div class="col-md-4">
                                <div class="float-right" style="text-align: right;">
                                    <h6 style="font-weight: normal; text-decoration: underline;">Last Updated at</h6>
                                    <p>
                                        <%= languageDate(overReading.UpdatedAt, "02-Jan-2006 03:04:05PM -0700", t("lang_calendar")) %>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                    <%= if ((overReading.OverReader.ID.String() == current_user.ID.String()) || current_user.Admin) { %>
                                        <div class="float-right">                                        
                                            <a class="btn btn-lg btn-outline-primary" href="<%= participantScreeningOverreadingsEditPath({pid: overReading.Participant.ID, sid: overReading.Screening.ID, oid: overReading.ID}) %>" title="Over-read"><i class="fa fa-pencil-alt fa-sm"></i> Edit</a>                                        
                                        </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="element-wrapper">
                                    <div class="element-box">
                                        <h5><%= t("header_right_eye") %></h5>
                                        <div class="img-thumbnail text-center">
                                            <!-- <img class="fullscreen-image" src="<%= assetPath("images/right-thumb.jpg") %>" data-high-res-src="<%= assetPath("images/right.jpg") %>"> -->
                                            <img class="fullscreen-image" src="<%= rightEyeLink %>" data-high-res-src="<%= rightEyeLink %>">
                                        </div>
                                        <div class="none" style="margin-top: 20px"></div>
                                        <div class="form-group">
                                            <label for=""><%= t("label_drgrading") %></label>
                                            <input class="form-control" type="text" value="<%= overReading.Eyes.RightEye.DRGrading.String %>" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label for=""><%= t("field_dme_assessment") %></label>
                                            <input class="form-control" type="text" value="<%= overReading.Eyes.RightEye.DMEAssessment.String %>" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label for=""><%= t("label_suspected_pathology") %></label>
                                            <input class="form-control" type="text" value='<%= if (len(overReading.Eyes.RightEye.SuspectedPathologies) > 0) { json(overReading.Eyes.RightEye.SuspectedPathologies) } %>' disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 ml-auto">
                                <div class="element-wrapper">
                                    <div class="element-box">
                                        <h5><%= t("header_left_eye") %></h5>
                                        <div class="img-thumbnail text-center">
                                            <!-- <img class="fullscreen-image" src="<%= assetPath("images/left-thumb.jpg") %>" data-high-res-src="<%= assetPath("images/left.jpg") %>"> -->
                                            <img class="fullscreen-image" src="<%= leftEyeLink %>" data-high-res-src="<%= leftEyeLink %>">
                                        </div>
                                        <div class="none" style="margin-top: 20px"></div>
                                        <div class="form-group">
                                            <label for=""><%= t("label_drgrading") %></label>
                                            <input class="form-control" type="text" value="<%= overReading.Eyes.LeftEye.DRGrading.String %>" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label for=""><%= t("field_dme_assessment") %></label>
                                            <input class="form-control" type="text" value="<%= overReading.Eyes.LeftEye.DMEAssessment.String %>" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label for=""><%= t("label_suspected_pathology") %></label>
                                            <input class="form-control" type="text" value='<%= if (len(overReading.Eyes.LeftEye.SuspectedPathologies) > 0) { json(overReading.Eyes.LeftEye.SuspectedPathologies) } %>' disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-group">
                        <legend><span><%= t("section_referral_header") %></span></legend>
                        <%= if (errors) { %>
                        <%= for (key, val) in errors { %>
                        <div class="form-group">
                            <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
                                <%= val %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <% } %>
                        <% } %>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for=""><%= t("section_referral_header") %></label>
                                    <%= if (overReading.Referral.Referred.Valid && overReading.Referral.Referred.Bool) { %>
                                        <input class="form-control" type="text" value="Yes" disabled>
                                    <% } else { %>
                                        <input class="form-control" type="text" value="No" disabled>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" style="margin-top: 1rem;">
                                    <label for="referral-notes"><%= t("label_additional_notes") %></label>
                                    <textarea name="Referral.Notes" id="referral-notes" rows="6" class="form-control" disabled><%= overReading.Referral.Notes %></textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
