<div class="row">
    <div class="col-sm-12">
        <div class="element-wrapper">
            <h6 class="element-header">
                <%= participant.ParticipantID %>
            </h6>
            <div class="element-box">
                <!-- controls above table -->
                <div class="controls-above-table">
                    <div class="row">
                        <div class="col-sm-6">
                            <%= if (pagination.TotalEntriesSize < 1) { %>
                            Nothing to over read</a>
                            <% } %>
                        </div>
                        <div class="col-sm-6">
                            <form class="form-inline justify-content-sm-end">
                                <input class="form-control form-control-sm rounded bright" placeholder="Search" type="text">
                                <select class="form-control form-control-sm rounded bright" name="status">
                                    <option value="all" selected>
                                        <%= t("option_overreading_all") %>
                                    </option>
                                    <option value="open">
                                        <%= t("option_overeading_open") %>
                                    </option>
                                    <option value="completed">
                                        <%= t("option_overreading_completed") %>
                                    </option>
                                </select>
                                <button type="submit" class="btn btn-info btn-rounded">Go</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-lg table-striped" style="margin-bottom: 1rem; font-size: 0.75rem;">
                        <thead>
                            <tr>
                                <th class="text-center" rowspan="2">
                                    <input class="form-control" type="checkbox">
                                </th>
                                <th colspan="2">
                                    Left Eye
                                </th>
                                <th colspan="2">
                                    Right Eye
                                </th>
                                <th rowspan="2">
                                    Referred
                                </th>
                                <th rowspan="2">
                                    Reader
                                </th>
                                <th rowspan="2">
                                    Reading Date
                                </th>
                            </tr>
                            <tr>
                                <th>Grading: Dr</th>
                                <th>Grading: Dme</th>
                                <th>Grading: Dr</th>
                                <th>Grading: Dme</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%= for (s) in overReadings { %>
                            <tr>
                                <td class="text-center">
                                    <input class="form-control" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <%= s.LeftGradingDr %>
                                </td>
                                <td class="text-center">
                                    <%= s.LeftGradingDme %>
                                </td>
                                <td class="text-center">
                                    <%= s.RightGradingDr %>
                                </td>
                                <td class="text-center">
                                    <%= s.RightGradingDme %>
                                </td>
                                <td class="text-center">
                                    <%= if (s.Referred) { %>
                                    <span class="badge badge-primary">Yes</span>
                                    <% } else { %>
                                        <span class="badge badge-danger">No</span>
                                    <% } %>
                                </td>
                                <td class="text-center">
                                    <%= s.OverReader.Name %>
                                </td>
                                <td class="text-center">
                                    <%= s.CreatedAt.Format("02-Jan-2006") %>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>

                <div class="controls-below-table">
                    <div class="table-records-info">
                        Showing
                        <%= pagination.Offset + 1 %> -
                        <%= pagination.Offset + pagination.CurrentEntriesSize %> of
                        <%= pagination.TotalEntriesSize %>
                        |
                        View
                        <a href="?per_page=10">10</a> /
                        <a href="?per_page=20">20</a> /
                        <a href="?per_page=50">50</a>
                        per page
                    </div>
                    <div class="table-records-pages">
                        <style>
                            .page-link {
                                border: none;
                                padding: 0 2px;
                            }
                        </style>
                        <%= paginator(pagination, {"class":"", "previousContent": "Previous", "nextContent": "Next"}) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
