<div class="row justify-content-lg-center">
    <div class="col-lg-10">
        <div class="element-wrapper">
            <h6 class="element-header">
                Add New Screening
            </h6>
            <div class="element-box">
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-md-12">
                        <%= if (errors) { %>
                        <%= for (key, val) in errors { %>
                        <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                            <%= val %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <% } %>
                        <% } %>
                    </div>
                </div>
                <form action="<%= participantScreeningsCreatePath({pid: participant.ID}) %>" method="POST">
                    <%= csrf() %>
                    <div class="element-actions">
                        <a class="btn btn-secondary btn justify-content-sm-end" href="#" role="button">
                            <%= participant.ParticipantID %></a>
                    </div>
                    <div class="form-desc">
                        <h6>Record results</h6>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <%= participant.Name %> |
                                <%= genderHelper(participant.Gender) %> |
                                <%= ageHelper(participant.DOB.CalculatedDate) %>
                            </p>
                        </div>
                    </div>
                    <div class="todo-app-w">
                        <div class="todo-content" style="padding: 0;">
                            <div class="all-tasks-w" style="padding-top: 0;">
                                <div class="tasks-section">
                                    <div class="tasks-header-w" style="margin-top: 0;">
                                        <a class="tasks-header-toggler" href="#">
                                            <i class="os-icon os-icon-ui-23"></i>
                                        </a>
                                        <h5 class="tasks-header">
                                            Medical History
                                        </h5>
                                    </div>
                                    <div class="tasks-list-w">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Diabetes Type</label>
                                                    <select class="form-control" name="Diabetes.DiabetesType">
                                                        <option value="">
                                                            <%= t("form_select_any") %>
                                                        </option>
                                                        <option value="Type 1">
                                                            <%= t("option_type_1") %>
                                                        </option>
                                                        <option value="Type 2">
                                                            <%= t("option_type_2") %>
                                                        </option>
                                                        <option value="Pre-Diabetes">
                                                            <%= t("option_pre_diabetes") %>
                                                        </option>
                                                        <option value="Gestational Diabetes">
                                                            <%= t("option_gestational_diabetes") %>
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ml-auto">
                                                <div class="form-group">
                                                    <label for="">Duration</label>
                                                    <input type="hidden" name="Diabetes.DurationType" value="year">
                                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                        <input class="form-control" placeholder="Duration in Years" min="0"
                                                            type="number" name="Diabetes.Duration" />
                                                        <div class="input-group-append">
                                                            <div class="input-group-text">
                                                                years
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="">Select Co-Morbidities</label>
                                                    <select class="form-control select2" style="width: 100%;" multiple="true" name="MedicalHistory.Morbidities">
                                                        <option value="Hypertension">
                                                            Hypertension
                                                        </option>
                                                        <option value="KidneyDisease">
                                                            Kidney Disease
                                                        </option>
                                                        <option value="CardiovascularDisease">
                                                            Cardiovascular Disease
                                                        </option>
                                                        <option value="HighCholesterol">
                                                            High Cholesterol
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tasks-section">
                                    <div class="tasks-header-w">
                                        <a class="tasks-header-toggler" href="#"><i class="os-icon os-icon-ui-23"></i></a>
                                        <h5 class="tasks-header">
                                            Medications
                                        </h5>
                                    </div>
                                    <div class="tasks-list-w">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Taking Medications?</label>
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <div class="form-check">
                                                                <label class="form-check-label"><input class="form-check-input"
                                                                        name="Medications.TakingMedications" type="radio"
                                                                        value="true">Yes</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-check">
                                                                <label class="form-check-label"><input class="form-check-input"
                                                                        name="Medications.TakingMedications" type="radio"
                                                                        value="false">No</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ml-auto">
                                                <div class="form-group">
                                                    <label for="">On Insulin?</label>
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <div class="form-check">
                                                                <label class="form-check-label"><input class="form-check-input"
                                                                        name="Medications.OnInsulin" type="radio" value="true">Yes</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-check">
                                                                <label class="form-check-label"><input class="form-check-input"
                                                                        name="Medications.OnInsulin" type="radio" value="false">No</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tasks-section">
                                    <div class="tasks-header-w">
                                        <a class="tasks-header-toggler" href="#"><i class="os-icon os-icon-ui-23"></i></a>
                                        <h5 class="tasks-header">
                                            Measurements
                                        </h5>
                                    </div>
                                    <div class="tasks-list-w">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Blood Pressure</label>
                                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                        <input class="form-control" placeholder="SBP" type="number"
                                                            name="Measurements.BloodPressure.SBP" min="80" max="250" />
                                                        <div class="input-group-append">
                                                            <div class="input-group-text">
                                                                /
                                                            </div>
                                                        </div>
                                                        <input class="form-control" placeholder="DBP" type="number"
                                                            name="Measurements.BloodPressure.DBP" min="50" max="180" />
                                                        <div class="input-group-append">
                                                            <div class="input-group-text">
                                                                mmHg
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ml-auto">
                                                <div class="form-group">
                                                    <label for="">Date of Last Assessment</label>
                                                    <%= if (Measurements && !Measurements.BloodPressure.AssessmentDate.GivenDate.IsZero()) { %>
                                                        <input class="form-control" placeholder="Select date" type="date"
                                                        name="Measurements.BloodPressure.AssessmentDate.GivenDate" value="<%= Measurements.BloodPressure.AssessmentDate.GivenDate.Format("2006-01-02") %>">
                                                    <% } else { %>
                                                        <%= if (t("lang_calendar") == "thai") { %>
                                                            <input class="form-control" placeholder="Select date" type="date"
                                                            name="Measurements.BloodPressure.AssessmentDate.GivenDate" value="<%= currentDate("thai") %>">
                                                        <% } else { %>
                                                            <input class="form-control" placeholder="Select date" type="date"
                                                            name="Measurements.BloodPressure.AssessmentDate.GivenDate" value="">
                                                        <% } %>
                                                    <% } %>
                                                </div>
                                                <input type="hidden" name="Measurements.BloodPressure.AssessmentDate.Calendar" value="<%= t("lang_calendar") %>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tasks-section">
                                    <div class="tasks-header-w">
                                        <a class="tasks-header-toggler" href="#"><i class="os-icon os-icon-ui-23"></i></a>
                                        <h5 class="tasks-header">
                                            Pathology
                                        </h5>
                                    </div>
                                    <div class="tasks-list-w">
                                        <fieldset class="form-group" style="margin-top: 0.5rem;">
                                            <legend><span>HbA1C</span></legend>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="">HbA1C (in %)</label>
                                                        <input type="hidden" name="Pathology.HbA1C.Unit" value="%">
                                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                            <input class="form-control" placeholder="" type="number"
                                                                name="Pathology.HbA1C.HbA1C" step="0.1" min="3.0" max="30.0" />
                                                            <div class="input-group-append">
                                                                <div class="input-group-text">
                                                                    %
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 ml-auto">
                                                    <div class="form-group">
                                                        <label for="">Date of Last Assessment</label>
                                                        <%= if (Pathology.HbA1C && !Pathology.HbA1C.AssessmentDate.GivenDate.IsZero()) { %>
                                                            <input class="form-control" placeholder="Select date" type="date"
                                                            name="Pathology.HbA1C.AssessmentDate.GivenDate" value="<%= Pathology.HbA1C.AssessmentDate.GivenDate.Format("2006-01-02") %>">
                                                        <% } else { %>
                                                            <%= if (t("lang_calendar") == "thai") { %>
                                                                <input class="form-control" placeholder="Select date" type="date"
                                                                name="Pathology.HbA1C.AssessmentDate.GivenDate" value="<%= currentDate("thai") %>">
                                                            <% } else { %>
                                                                <input class="form-control" placeholder="Select date" type="date"
                                                                name="Pathology.HbA1C.AssessmentDate.GivenDate" value="">
                                                            <% } %>
                                                        <% } %>
                                                    </div>
                                                    <input type="hidden" name="Pathology.HbA1C.AssessmentDate.Calendar" value="<%= t("lang_calendar") %>">
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group" style="margin-top: 0.5rem;">
                                            <legend><span>Lipids</span></legend>
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="">Total Cholesterol</label>
                                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                                    <input class="form-control" placeholder="" type="text"
                                                                        name="Pathology.Lipids.TotalCholesterol" />
                                                                    <div class="input-group-append">
                                                                        <div class="input-group-text">
                                                                            mmol/L
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="">HDL Cholesterol</label>
                                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                                    <input class="form-control" placeholder="" type="text"
                                                                        name="Pathology.Lipids.HDL" />
                                                                    <div class="input-group-append">
                                                                        <div class="input-group-text">
                                                                            mmol/L
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="">LDL Cholesterol</label>
                                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                                    <input class="form-control" placeholder="" type="text"
                                                                        name="Pathology.Lipids.LDL" disabled />
                                                                    <div class="input-group-append">
                                                                        <div class="input-group-text">
                                                                            mmol/L
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="">Triglyceride</label>
                                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                                    <input class="form-control" placeholder="" type="text"
                                                                        name="Pathology.Lipids.TG" />
                                                                    <div class="input-group-append">
                                                                        <div class="input-group-text">
                                                                            mmol/L
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="Pathology.Lipids.Unit" value="mmol/L">
                                                <div class="col-sm-3 ml-auto">
                                                    <div class="form-group">
                                                        <label for="">Date of Last Assessment</label>
                                                        <%= if (Pathology.Lipids && !Pathology.Lipids.AssessmentDate.GivenDate.IsZero()) { %>
                                                            <input class="form-control" placeholder="Select date" type="date"
                                                            name="Pathology.Lipids.AssessmentDate.GivenDate" value="<%= Pathology.Lipids.AssessmentDate.GivenDate.Format("2006-01-02") %>">
                                                        <% } else { %>
                                                            <%= if (t("lang_calendar") == "thai") { %>
                                                                <input class="form-control" placeholder="Select date" type="date"
                                                                name="Pathology.Lipids.AssessmentDate.GivenDate" value="<%= currentDate("thai") %>">
                                                            <% } else { %>
                                                                <input class="form-control" placeholder="Select date" type="date"
                                                                name="Pathology.Lipids.AssessmentDate.GivenDate" value="">
                                                            <% } %>
                                                        <% } %>
                                                    </div>
                                                    <input type="hidden" name="Pathology.Lipids.AssessmentDate.Calendar" value="<%= t("lang_calendar") %>">
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="tasks-section">
                                    <div class="tasks-header-w">
                                        <a class="tasks-header-toggler" href="#"><i class="os-icon os-icon-ui-23"></i></a>
                                        <h5 class="tasks-header">
                                            <%= t("field_eye_assessment") %>
                                        </h5>
                                    </div>
                                    <div class="tasks-list-w">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h6><%= t("field_right_eye") %></h6>
                                                <div class="form-group">
                                                    <label for=""><%= t("field_visual_acuity") %></label>
                                                    <select class="form-control" name="Eyes.RightEye.VisualAcuity">
                                                        <option value="">
                                                            <%= t("form_select_any") %>
                                                        </option>
                                                        <option value="NLP">NLP</option>
                                                        <option value="LP">LP</option>
                                                        <option value="HM">HM</option>
                                                        <option value="CF">CF</option>
                                                        <option value="20/200">20/200</option>
                                                        <option value="20/100">20/100</option>
                                                        <option value="20/70">20/70</option>
                                                        <option value="20/50">20/50</option>
                                                        <option value="20/40">20/40</option>
                                                        <option value="20/20">20/20</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for=""><%= t("field_dr_grading") %></label>
                                                    <select class="form-control" name="Eyes.RightEye.DRGrading">
                                                        <option value="">
                                                            <%= t("form_select_any") %>
                                                        </option>
                                                        <option value="Ungradeable">
                                                            <%= t("option_ungradeable") %>
                                                        </option>
                                                        <option value="Normal">
                                                            <%= t("option_normal") %>
                                                        </option>
                                                        <option value="Mild DR">
                                                            <%= t("option_mild_npdr") %>
                                                        </option>
                                                        <option value="Moderate DR">
                                                            <%= t("option_mod_npdr") %>
                                                        </option>
                                                        <option value="Severe DR">
                                                            <%= t("option_severe_npdr") %>
                                                        </option>
                                                        <option value="Proliferative DR">
                                                            <%= t("option_proliferative_dr") %>
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for=""><%= t("field_dme_assessment") %></label>
                                                    <select class="form-control" name="Eyes.RightEye.DMEAssessment">
                                                        <option value="">
                                                            <%= t("form_select_any") %>
                                                        </option>
                                                        <option value="Present">
                                                            <%= t("option_dme_present") %>
                                                        </option>
                                                        <option value="Not Present">
                                                            <%= t("option_dme_notpresent") %>
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ml-auto">
                                                <h6><%= t("field_left_eye") %></h6>
                                                <div class="form-group">
                                                    <label for=""><%= t("field_visual_acuity") %></label>
                                                    <select class="form-control" name="Eyes.LeftEye.VisualAcuity">
                                                        <option value="">
                                                            <%= t("form_select_any") %>
                                                        </option>
                                                        <option value="NLP">NLP</option>
                                                        <option value="LP">LP</option>
                                                        <option value="HM">HM</option>
                                                        <option value="CF">CF</option>
                                                        <option value="20/200">20/200</option>
                                                        <option value="20/100">20/100</option>
                                                        <option value="20/70">20/70</option>
                                                        <option value="20/50">20/50</option>
                                                        <option value="20/40">20/40</option>
                                                        <option value="20/20">20/20</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for=""><%= t("field_dr_grading") %></label>
                                                    <select class="form-control" name="Eyes.LeftEye.DRGrading">
                                                        <option value="">
                                                            <%= t("form_select_any") %>
                                                        </option>
                                                        <option value="Ungradeable">
                                                            <%= t("option_ungradeable") %>
                                                        </option>
                                                        <option value="Normal">
                                                            <%= t("option_normal") %>
                                                        </option>
                                                        <option value="Mild DR">
                                                            <%= t("option_mild_npdr") %>
                                                        </option>
                                                        <option value="Moderate DR">
                                                            <%= t("option_mod_npdr") %>
                                                        </option>
                                                        <option value="Severe DR">
                                                            <%= t("option_severe_npdr") %>
                                                        </option>
                                                        <option value="Proliferative DR">
                                                            <%= t("option_proliferative_dr") %>
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for=""><%= t("field_dme_assessment") %></label>
                                                    <select class="form-control" name="Eyes.LeftEye.DMEAssessment">
                                                        <option value="">
                                                            <%= t("form_select_any") %>
                                                        </option>
                                                        <option value="Present">
                                                            <%= t("option_dme_present") %>
                                                        </option>
                                                        <option value="Not Present">
                                                            <%= t("option_dme_notpresent") %>
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="">Referred</label>
                                                <select class="form-control" name="referral">
                                                    <option value="yes">
                                                        Yes
                                                    </option>
                                                    <option value="no" selected>
                                                        No
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-buttons-w">
                        <button class="btn btn-primary" type="submit"> Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
