<div class="row">
    <div class="col-sm-12">
        <div class="element-wrapper">
            <div class="element-actions">
                <a class="btn btn-secondary btn justify-content-sm-end" href="#" role="button">Download
                    CSV</a>
            </div>
            <h6 class="element-header">
                Screenings for <%= participant.ParticipantID %>
            </h6>
            <div class="element-box">
                <!-- controls above table -->
                <div class="controls-above-table">
                    <div class="row">
                        <div class="col-sm-6">
                            <%= if (pagination.TotalEntriesSize < 1) { %>
                            <a class="btn btn-primary btn" href="<%= participantScreeningsCreatePath({pid: participant.ID}) %>" role="button">New Screening</a>
                            <% } %>
                        </div>
                        <div class="col-sm-6">
                            <form class="form-inline justify-content-sm-end">
                                <input class="form-control form-control-sm rounded bright" placeholder="Search" type="text">
                                <button type="submit" class="btn btn-info btn-rounded">Go</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-lg table-v2 table-striped" style="margin-bottom: 1rem; font-size: 0.75rem;">
                        <thead>
                            <tr>
                                <th class="text-center" rowspan="2">
                                    <input class="form-control" type="checkbox">
                                </th>
                                <th colspan="3">
                                    Left Eye
                                </th>
                                <th colspan="3">
                                    Right Eye
                                </th>
                                <th rowspan="2">
                                    Referred
                                </th>
                                <th rowspan="2">
                                    Screener
                                </th>
                                <th rowspan="2">
                                    Screening Date
                                </th>
                            </tr>
                            <tr>
                                <th>Visual Acuity</th>
                                <th>Grading: Dr</th>
                                <th>Grading: Dme</th>
                                <th>Visual Acuity</th>
                                <th>Grading: Dr</th>
                                <th>Grading: Dme</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%= for (s) in screenings { %>
                            <tr>
                                <td class="text-center">
                                    <input class="form-control" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <%= s.LeftVisualAcuity %>
                                </td>
                                <td class="text-center">
                                    <%= s.LeftGradingDr %>
                                </td>
                                <td class="text-center">
                                    <%= s.LeftGradingDme %>
                                </td>
                                <td class="text-center">
                                    <%= s.RightVisualAcuity %>
                                </td>
                                <td class="text-center">
                                    <%= s.RightGradingDr %>
                                </td>
                                <td class="text-center">
                                    <%= s.RightGradingDme %>
                                </td>
                                <td class="text-center">
                                    <%= if (s.Referred) { %>
                                    <span class="badge badge-primary">Yes</span>
                                    <% } else { %>
                                        <span class="badge badge-danger">No</span>
                                    <% } %>
                                </td>
                                <td class="text-center">
                                    <%= s.Screener.Name %>
                                </td>
                                <td class="text-center">
                                    <%= s.CreatedAt.Format("02-Jan-2006") %>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>

                <div class="controls-below-table">
                    <%= partial("pagination.html") %>
                </div>
            </div>
        </div>
    </div>
</div>
