<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>
        <%= t("meta_title") %>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.png") %>">
    <link rel="apple-touch-icon" href="<%= assetPath("images/apple-touch-icon.png") %>">
</head>

<body class="menu-position-top">

    <div class="all-wrapper solid-bg-all">
        <div class="layout-w">
            <!--------------------
            START - Main Menu
            -------------------->
            <div class="menu-w selected-menu-color-light menu-activated-on-hover menu-has-selected-link color-scheme-light color-style-transparent sub-menu-color-bright menu-position-top menu-layout-compact sub-menu-style-over">
                <div class="logo-w">
                    <a class="logo" href="<%= rootPath() %>">
                        <div class="logo-element"></div>
                        <div class="logo-label">
                            <%= t("header_title") %>
                        </div>
                    </a>
                </div>
                <div class="logged-user-w avatar-inline">
                    <div class="logged-user-i">
                        <div class="avatar-w">
                            <img alt="" src="<%= assetPath("images/avatar1.jpg") %>">
                        </div>
                        <div class="logged-user-info-w">
                            <div class="logged-user-name">
                                <%= current_user.Name %>
                            </div>
                            <div class="logged-user-role">
                                <%= if (current_user.Admin) { %>
                                <%= t("role_admin") %>
                                <% } else if (current_user.PermissionScreening) { %>
                                <%= t("role_screener") %>
                                <% } else if (current_user.PermissionOverRead) { %>
                                <%= t("role_reader") %>
                                <% } else if (current_user.PermissionStudyCoordinator) { %>
                                <%= t("role_study_coordinator") %>
                                <% } else { %>
                                <%= t("role_general") %>
                                <% } %>
                            </div>
                        </div>
                        <div class="logged-user-toggler-arrow">
                            <div class="os-icon os-icon-chevron-down"></div>
                        </div>
                        <div class="logged-user-menu color-style-bright">
                            <div class="logged-user-avatar-info">
                                <div class="avatar-w">
                                    <img alt="" src="<%= assetPath("images/avatar1.jpg") %>">
                                </div>
                                <div class="logged-user-info-w">
                                    <div class="logged-user-name">
                                        <%= current_user.Name %>
                                    </div>
                                    <div class="logged-user-role">
                                        <%= if (current_user.Admin) { %>
                                        <%= t("role_admin") %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-icon">
                                <i class="os-icon os-icon-wallet-loaded"></i>
                            </div>
                            <ul>
                                <li>
                                    <a href="<%= usersLogoutPath() %>"><i class="os-icon os-icon-signs-11"></i><span>
                                            <%= t("nav_logout") %></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="menu-actions">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= if (current_lang && current_lang == "bn") { %>
                            <img src="<%= assetPath("img/flags-icons/bd.png") %>" height="25px">
                            <% } else if (current_lang && current_lang == "th") { %>
                            <img src="<%= assetPath("img/flags-icons/th.png") %>" height="25px">
                            <% } else { %>
                            <img src="<%= assetPath("img/flags-icons/us.png") %>" height="25px">
                            <% } %>
                            <%= t("language_btn_txt") %>
                        </button>
                        <div class="dropdown-menu">
                            <%= if (current_lang && current_lang == "bn") { %>
                            <a class="dropdown-item" style="padding: 10px 5px; margin-right: 15px;" href="<%= switchPath() %>?lang=en"><img src="<%= assetPath("img/flags-icons/us.png") %>" height="25px"> <%= t("language_en") %></a>
                            <a class="dropdown-item" style="padding: 10px 5px; margin-right: 15px;" href="<%= switchPath() %>?lang=th"><img src="<%= assetPath("img/flags-icons/th.png") %>" height="25px"> <%= t("language_th") %></a>
                            <a class="dropdown-item active" style="padding: 10px 5px; margin-right: 15px;" href="<%= switchPath() %>?lang=bn"><img src="<%= assetPath("img/flags-icons/bd.png") %>" height="25px"> <%= t("language_bd") %></a>
                            <% } else if (current_lang && current_lang == "th") { %>
                            <a class="dropdown-item" style="padding: 10px 5px; margin-right: 15px;" href="<%= switchPath() %>?lang=en"><img src="<%= assetPath("img/flags-icons/us.png") %>" height="25px"> <%= t("language_en") %></a>
                            <a class="dropdown-item active" style="padding: 10px 5px; margin-right: 15px;" href="<%= switchPath() %>?lang=th"><img src="<%= assetPath("img/flags-icons/th.png") %>" height="25px"> <%= t("language_th") %></a>
                            <a class="dropdown-item" style="padding: 10px 5px; margin-right: 15px;" href="<%= switchPath() %>?lang=bn"><img src="<%= assetPath("img/flags-icons/bd.png") %>" height="25px"> <%= t("language_bd") %></a>
                            <% } else { %>
                            <a class="dropdown-item active" style="padding: 10px 5px; margin-right: 15px;" href="<%= switchPath() %>?lang=en"><img src="<%= assetPath("img/flags-icons/us.png") %>" height="25px"> <%= t("language_en") %></a>
                            <a class="dropdown-item" style="padding: 10px 5px; margin-right: 15px;" href="<%= switchPath() %>?lang=th"><img src="<%= assetPath("img/flags-icons/th.png") %>" height="25px"> <%= t("language_th") %></a>
                            <a class="dropdown-item" style="padding: 10px 5px; margin-right: 15px;" href="<%= switchPath() %>?lang=bn"><img src="<%= assetPath("img/flags-icons/bd.png") %>" height="25px"> <%= t("language_bd") %></a>
                            <% } %>
                        </div>
                    </div>
                </div>
                <h1 class="menu-page-header">
                </h1>
                <ul class="main-menu">
                    <%= if (current_user.Admin || current_user.PermissionScreening || current_user.PermissionStudyCoordinator) { %>
                    <li class="">
                        <a href="<%= participantsIndexPath() %>">
                            <div class="icon-w">
                                <div class="fa fa-address-book-o"></div>
                            </div>
                            <span>
                                <%= t("nav_participants") %></span>
                        </a>
                    </li>
                    <% } %>

                    <%= if (current_user.Admin || current_user.PermissionOverRead || current_user.PermissionStudyCoordinator) { %>
                    <li class="">
                        <a href="<%= casesIndexPath() %>">
                            <div class="icon-w">
                                <div class="fa fa-address-book-o"></div>
                            </div>
                            <span>
                                <%= t("nav_overreading") %></span>
                        </a>
                    </li>
                    <% } %>

                    <%= if (current_user.Admin) { %>
                    <li class="">
                        <a href="<%= usersIndexPath() %>">
                            <div class="icon-w">
                                <div class="fa fa-users"></div>
                            </div>
                            <span>
                                <%= t("nav_users") %></span>
                        </a>
                    </li>

                    <li class="">
                        <a href="<%= logsIndexPath() %>">
                            <div class="icon-w">
                                <div class="fa fa-database"></div>
                            </div>
                            <span>
                                <%= t("nav_logs") %></span>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
            <!--------------------
            END - Main Menu
            -------------------->

            <div class="content-w">
                <%= if (breadcrumbMap) { %>
                <!--------------------
              START - Breadcrumbs
              -------------------->
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="<%= rootPath() %>">
                            <%= t("nav_home") %></a>
                    </li>

                    <%= for (k, v) in breadcrumbMap { %>
                    <li class="breadcrumb-item">
                        <%= if (len(v) > 0) { %>
                        <a href="<%= v %>">
                            <%= t(k) %></a>
                        <% } else { %>
                        <span>
                            <%= t(k) %></span>
                        <% } %>
                    </li>
                    <% } %>
                </ul>
                <!--------------------
              END - Breadcrumbs
              -------------------->
                <% } %>

                <div class="content-i">
                    <div class="content-box">
                        <%= partial("flash.html") %>
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%= javascriptTag("application.js") %>
    <%= javascriptTag("imageviewer.js") %>
    <script>
        $(function () {
            openImageViewer();
            $(".select2").select2();
            $('.tasks-header-toggler').on('click', function () {
                $(this).closest('.tasks-section').find('.tasks-list-w').slideToggle(300);
                return false;
            });

            if ($("#screening-json-data").length) {
                var screeningJson = JSON.stringify(JSON.parse($("#screening-json-data").val()), undefined, 4);
                $("#screening-json-data").text(screeningJson);
            }

            if ($("#overread-json-data").length) {
                var overReadJson = JSON.stringify(JSON.parse($("#overread-json-data").val()), undefined, 4);
                $("#overread-json-data").text(overReadJson);
            }
        });

        function openImageViewer() {
            $('.pannable-image').ImageViewer();
        }

        $(".eye-image-model").on('shown.bs.modal', function () {
            openImageViewer();
        });
    </script>
</body>

</html>
