<!DOCTYPE html>
<html lang="<%= current_lang %>">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>
        <%= t("meta_title") %>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.png") %>">
    <link rel="apple-touch-icon" href="<%= assetPath("images/apple-touch-icon.png") %>">
</head>

<body class="menu-position-side menu-side-left full-screen">
    <div class="all-wrapper with-side-panel solid-bg-all" style="height: 100vh;">
        <div class="layout-w">
            <!--------------------
            START - Main Menu
            -------------------->
            <div class="menu-w selected-menu-color-light menu-activated-on-hover menu-has-selected-link color-scheme-light color-style-transparent sub-menu-color-bright menu-position-side menu-side-left menu-layout-full sub-menu-style-over" style="padding-top: 10px; background: #F2F4F8">
                <div class="logo-w">
                    <a class="logo" href="<%= rootPath() %>">
                        <div class="logo-element"></div>
                        <div class="logo-label">
                            <%= t("header_title") %>
                        </div>
                    </a>
                </div>
                <div class="menu-actions">
                    <ul class="main-menu">
                        <li class="">
                            <a href="/">
                                <div class="icon-w">
                                    <div class="fa fa-home"></div>
                                </div>
                                <span>
                                    <%= t("nav_home") %></span>
                            </a>
                        </li>
                        <%= if (current_user.Admin || current_user.Permission.Screening || current_user.Permission.StudyCoordinator) { %>
                        <li class="">
                            <a href="<%= participantsIndexPath() %>">
                                <div class="icon-w">
                                    <div class="fa fa-address-book-o"></div>
                                </div>
                                <span>
                                    <%= t("nav_participants") %></span>
                            </a>
                        </li>
                        <% } %>

                        <%= if (current_user.Admin || current_user.Permission.OverRead || current_user.Permission.StudyCoordinator) { %>
                        <li class="">
                            <a href="<%= casesIndexPath() %>">
                                <div class="icon-w">
                                    <div class="fa fas fa-eye"></div>
                                </div>
                                <span>
                                    <%= t("nav_overreading") %></span>
                            </a>
                        </li>
                        <% } %>

                        <%= if (current_user.Admin || current_user.Permission.ReferralTracker || current_user.Permission.StudyCoordinator) { %>
                            <li class="">
                                <a href="<%= referralsIndexPath() %>">
                                    <div class="icon-w">
                                        <div class="fa fa-exchange"></div>
                                    </div>
                                    <span>
                                        <%= t("nav_referrals") %></span>
                                </a>
                            </li>
                        <% } %>

                        <%= if (current_user.Admin || current_user.Permission.StudyCoordinator) { %>
                            <li class="">
                                <a href="<%= reportsIndexPath() %>">
                                    <div class="icon-w">
                                        <div class="fa fa-book"></div>
                                    </div>
                                    <span>
                                        <%= t("nav_reports") %></span>
                                </a>
                            </li>
                        <% } %>

                        <%= if (current_user.Admin) { %>
                        <li class="">
                            <a href="<%= usersIndexPath() %>">
                                <div class="icon-w">
                                    <div class="fa fa-users"></div>
                                </div>
                                <span>
                                    <%= t("nav_users") %></span>
                            </a>
                        </li>

                        <li class="">
                            <a href="<%= logsIndexPath() %>">
                                <div class="icon-w">
                                    <div class="fa fa-database"></div>
                                </div>
                                <span>
                                    <%= t("nav_logs") %></span>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        <div class="content-w"">
            <div class="top-bar color-scheme-white">
                 <!--------------------
              START - Breadcrumbs
              -------------------->
              <%= if (breadcrumbMap) { %>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="<%= rootPath() %>">
                            <%= t("nav_home") %></a>
                    </li>

                    <%= for (k, v) in breadcrumbMap { %>
                    <li class="breadcrumb-item">
                        <%= if (len(v) > 0) { %>
                        <a href="<%= v %>">
                            <%= t(k) %></a>
                        <% } else { %>
                        <span>
                            <%= t(k) %></span>
                        <% } %>
                    </li>
                    <% } %>
                </ul>
                <!--------------------
              END - Breadcrumbs
              -------------------->
                <% } %>
                <div class="top-menu-controls">
                    <div class="menu-actions">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                <%= if (current_lang && current_lang == "th") { %>
                                <img src="<%= assetPath("img/flags-icons/th.png") %>" height="25px"> <%= t("language_th") %>
                                <% } else { %>
                                <img src="<%= assetPath("img/flags-icons/us.png") %>" height="25px"> <%= t("language_en") %>
                                <% } %>
                            </button>
                            <div class="dropdown-menu">
                                <%= if (current_lang && current_lang == "bn") { %>
                                <a class="dropdown-item" style="padding: 10px 5px;" href="<%= switchPath() %>?lang=en"><img src="<%= assetPath("img/flags-icons/us.png") %>" height="25px"> <%= t("language_en") %></a>
                                <a class="dropdown-item" style="padding: 10px 5px;" href="<%= switchPath() %>?lang=th"><img src="<%= assetPath("img/flags-icons/th.png") %>" height="25px"> <%= t("language_th") %></a>
                                <% } else if (current_lang && current_lang == "th") { %>
                                <a class="dropdown-item" style="padding: 10px 5px;" href="<%= switchPath() %>?lang=en"><img src="<%= assetPath("img/flags-icons/us.png") %>" height="25px"> <%= t("language_en") %></a>
                                <a class="dropdown-item active" style="padding: 10px 5px;" href="<%= switchPath() %>?lang=th"><img src="<%= assetPath("img/flags-icons/th.png") %>" height="25px"> <%= t("language_th") %></a>
                                <% } else { %>
                                <a class="dropdown-item active" style="padding: 10px 5px;" href="<%= switchPath() %>?lang=en"><img src="<%= assetPath("img/flags-icons/us.png") %>" height="25px"> <%= t("language_en") %></a>
                                <a class="dropdown-item" style="padding: 10px 5px;" href="<%= switchPath() %>?lang=th"><img src="<%= assetPath("img/flags-icons/th.png") %>" height="25px"> <%= t("language_th") %></a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="logged-user-w avatar-inline">
                        <div class="logged-user-i">
                            <div class="avatar-w">
                                <%= if (len(current_user.Avatar) > 10) { %>
                                    <img alt="" src="<%= current_user.Avatar %>">
                                <% } else { %>
                                    <img alt="" src="<%= assetPath("images/avatar1.jpg") %>">
                                <% } %>
                            </div>
                            <div class="logged-user-info-w">
                                <div class="logged-user-name">
                                    <%= current_user.Name %>
                                </div>
                                <div class="logged-user-role">
                                    <%= if (current_user.Admin) { %>
                                    <%= t("role_admin") %>
                                    <% } else if (current_user.Permission.StudyCoordinator) { %>
                                    <%= t("role_study_coordinator") %>
                                    <% } else if (current_user.Permission.Screening) { %>
                                    <%= t("role_screener") %>
                                    <% } else if (current_user.Permission.OverRead) { %>
                                    <%= t("role_reader") %>
                                    <% } else if (current_user.Permission.ReferralTracker) { %>
                                    <%= t("role_referral_tracker") %>
                                    <% } else { %>
                                    <%= t("role_general") %>
                                    <% } %>
                                </div>
                            </div>
                            <div class="logged-user-toggler-arrow">
                                <div class="os-icon os-icon-chevron-down"></div>
                            </div>
                            <div class="logged-user-menu color-style-bright">
                                <div class="logged-user-avatar-info">
                                    <div class="avatar-w">
                                            <%= if (len(current_user.Avatar) > 10) { %>
                                                <img alt="" src="<%= current_user.Avatar %>">
                                            <% } else { %>
                                                <img alt="" src="<%= assetPath("images/avatar1.jpg") %>">
                                            <% } %>
                                    </div>
                                    <div class="logged-user-info-w">
                                        <div class="logged-user-name">
                                            <%= current_user.Name %>
                                        </div>
                                        <div class="logged-user-role">
                                            <%= if (current_user.Admin) { %>
                                            <%= t("role_admin") %>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-icon">
                                    <i class="os-icon os-icon-wallet-loaded"></i>
                                </div>
                                <ul>
                                    <li>
                                        <a href="<%= usersLogoutPath() %>"><i class="os-icon os-icon-signs-11"></i><span>
                                                <%= t("nav_logout") %></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--------------------
            END - Main Menu
            -------------------->

            <div class="content-i" style="background: #fff;">
                <div class="content-box container">
                    <%= partial("flash.html") %>
                    <%= yield %>
                </div>
            </div>
            <%= if (len(audits) > 0) { %>
            <div class="content-box" style="background: #fff;">
                <%= partial("audits.html") %>
            </div>
            <% } %>
        </div>
    </div>
</div>

    <%= javascriptTag("application.js") %>
    <%= javascriptTag("imageviewer.js") %>
    <%= javascriptTag("validator.js") %>
    <script>
        $(function () {
            $(".select2").select2();
            $('.tasks-header-toggler').on('click', function () {
                $(this).closest('.tasks-section').find('.tasks-list-w').slideToggle(300);
                return false;
            });

            $('.expand-row').on('click', function (e) {
                e.preventDefault()
                var elemId = $(this).attr("data-src")
                var elemContent = elemId + "-content"
                // alert(elemId)
                var accordionRow = $("#"+elemId);
                var accordionContent = $("#"+elemContent);
                // alert(accordionRow.html())
                if (!accordionRow.is(":visible")) {
                    accordionRow.show()
                    accordionContent.slideDown()
                } else {
                    accordionContent.slideUp()
                    accordionRow.hide();
                }
            });

            if ($("#screening-json-data").length) {
                var screeningJson = JSON.stringify(JSON.parse($("#screening-json-data").val()), undefined, 4);
                $("#screening-json-data").text(screeningJson);
            }

            if ($("#overread-json-data").length) {
                var overReadJson = JSON.stringify(JSON.parse($("#overread-json-data").val()), undefined, 4);
                $("#overread-json-data").text(overReadJson);
            }

            if ($("#referrals-json-data").length) {
                var referralsJson = JSON.stringify(JSON.parse($("#referrals-json-data").val()), undefined, 4);
                $("#referrals-json-data").text(referralsJson);
            }

            var viewer = ImageViewer();
            $('.fullscreen-image').click(function () {
                var imgSrc = this.src,
                    highResolutionImage = $(this).data('high-res-src');

                viewer.show(imgSrc, highResolutionImage);
            });

            $(".participantID_field").inputmask("AA-9999-9");
            $(".birth_year_field").inputmask("9999", { "clearIncomplete": true, "max": 2800, "min": 1900 });
        });
    </script>
</body>

</html>
