<div class="row">
    <div class="col-sm-12">
        <div class="element-wrapper">
            <div class="element-actions"></div>
            <h6 class="element-header">
                <%= t("section_header_summarystats") %>
            </h6>
            <!-- summary stats -->
            <div class="row">
                <div class="col-sm-4">
                    <a class="element-box el-tablo" href="#" style="text-align: center;">
                        <div class="label">
                            <%= t("card_title_registered") %>
                        </div>
                        <div class="value">
                            <%= participants %>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a class="element-box el-tablo" href="#" style="text-align: center;">
                        <div class="label">
                            <%= t("card_title_screened") %>
                        </div>
                        <div class="value">
                            <%= screenings %>
                        </div>
                        <div class="trending trending-down-basic">

                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a class="element-box el-tablo" href="#" style="text-align: center;">
                        <div class="label">
                            <%= t("card_title_overead") %>
                        </div>
                        <div class="value">
                            <%= open_cases %> /
                            <%= total_cases %>
                        </div>
                        <div class="trending trending-up-basic">

                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        <!-- Notifications table -->
        <div class="element-wrapper">
            <div class="element-actions">
                <a class="btn btn-primary btn-md" href="<%= notificationsPath() %>" role="button">
                    <%= t("button_go_to_notifications") %></a>
            </div>
            <h6 class="element-header">
                <%= t("section_header_notifications") %>
            </h6>
            <div class="element-content">
                <table class="table table-lg table-striped" style="margin-bottom: 1.2rem; font-size: 0.8rem;">
                    <thead style="text-align: center;">
                        <tr>
                            <th>
                                <%= t("th_participant_id") %>
                            </th>
                            <th>
                                <%= t("th_site") %>
                            </th>
                            <th style="width: 7%;">
                                <%= t("th_status") %>
                            </th>
                            <th>
                                <%= t("th_notifications_type") %>
                            </th>
                            <th>
                                <%= t("th_notifications_message") %>
                            </th>
                            <th>
                                <%= t("th_workflow_date") %>
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <%= if (len(notifications) > 0) { %>
                        <%= for (notification) in notifications { %>
                        <tr>
                            <td class="text-center">
                                <a class="value with-avatar" href="<%= participantPath({pid: notification.Participant.ID}) %>">
                                    <span>
                                        <%= notification.Participant.ParticipantID %>
                                    </span>
                                </a>
                            </td>
                            <td class="text-center">
                                <%= notification.Site %>
                            </td>
                            <td class="text-center">
                                <%= upcase(notification.Status) %>
                            </td>
                            <td class="text-center">
                                <%= notification.Type %>
                            </td>
                            <td class="text-center">
                                <%= notification.Message %>
                            </td>
                            <td class="text-center">
                                <%= notification.UpdatedAt.Format("02 Jan 2006 03:04:05pm") %>
                            </td>
                            <td></td>
                        </tr>
                        <% } %>

                        <%= if (total_notifications > len(notifications)) { %>
                            <tr>
                                <td colspan="7" class="text-center">
                                    <a class="btn btn-outline-primary btn-md" href="<%= notificationsPath() %>" role="button">
                                        <%= t("button_remaining_notifications") %></a>
                                </td>
                            </tr>
                        <% } %>
                        <% } else { %>
                            <tr>
                                <td colspan="7" class="text-center">
                                    <%= t("text_no_notifications") %>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>
