<div class="content-i" style="background-color: #f2f4f8;">
    <div class="content-box">
        <%= partial("flash.html") %>
        <div class="row">
            <div class="col-sm-6">
                <a class="element-box el-tablo centered trend-in-corner padded bold-label" href="<%= usersLoginPath() %>">
                    <div class="value">
                        Login
                    </div>
                    <div class="label">
                        Using Credentials
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a class="element-box el-tablo centered trend-in-corner padded bold-label" href="<%= usersRegisterPath() %>">
                    <div class="value">
                        Register
                    </div>
                    <div class="label">
                        A New Account
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
