<div class="row justify-content-lg-center">
    <div class="col-sm-12">
        <div class="element-wrapper">
            <h6 class="element-header">
                <%= t("page_overreading_title") %>
            </h6>
            <div class="element-box">
                <!-- controls above table -->
                <div class="controls-above-table">
                    <div class="row">
                        <div class="col-sm-12" style="margin-bottom: 10px;">
                            <a href="?status=" class="btn btn-sm btn-primary"><%= t("option_overreading_all") %>: <%= in7Days+before7Days+finished %></a>
                            <a href="?status=completed" class="btn btn-sm btn-info"><%= t("option_overreading_completed") %>: <%= finished %></a>
                            <a href="?status=completed_by_me" class="btn btn-sm btn-info"><%= t("option_overreading_completed_me") %>: <%= finishedByMe %></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="?status=open_in_7_days" class="btn btn-sm btn-success"><%= t("option_overreading_open_in_7_days") %>: <%= in7Days %></a>
                            <a href="?status=open_before_7_days" class="btn btn-sm btn-danger"><%= t("option_overreading_open_before_7_days") %>: <%= before7Days %></a>                        
                        </div>
                        <div class="col-sm-6">
                            <form class="form-inline justify-content-sm-end">
                                <input class="form-control form-control-sm rounded bright" placeholder="Search Participant ID" type="text" name="search" value="<%= filterSearch %>">
                                <select class="form-control form-control-sm rounded bright" name="status">
                                    <option value="">
                                        <%= t("option_overreading_all") %>
                                    </option>
                                    <option value="open" <%= if (filterStatus == "open") { %>selected <% } %>>
                                        <%= t("option_overreading_open") %>
                                    </option>
                                    <option value="completed" <%= if (filterStatus == "completed") { %>selected <% } %>>
                                        <%= t("option_overreading_completed") %>
                                    </option>
                                </select>
                                <button type="submit" class="btn btn-info btn-rounded">Go</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-lg table-striped" style="margin-bottom: 1rem; font-size: 0.75rem;">
                        <thead>
                            <tr>
                                <th style="text-align:left;">
                                    <%= t("th_participant_id") %>
                                </th>
                                <th>
                                    <%= t("th_demographics") %>
                                </th>
                                <th>
                                    <%= t("th_screening_date") %>
                                </th>
                                <th>
                                    <%= t("th_overread_date") %>
                                </th>
                                <th>
                                    <%= t("th_status") %>
                                </th>
                                <th style="width: 20%;">
                                    <%= t("th_actions") %>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <%= for (p) in participants { %>
                            <%
                            let colorCode = ""
                            let psc = p.Screenings[0]
                            let pov = ""
                            let flag = psc.DaysAgo()
                            if (flag < 8) {
                                colorCode = "#008000"
                            } else {
                                colorCode = "#ff0000"
                            }

                            if (len(p.OverReadings) > 0) {
                                colorCode = ""
                                pov = p.OverReadings[0]
                            }
                            %>
                            <tr>
                                <td style="text-align: left;">
                                    <%= p.ParticipantID %>
                                    <%= if (len(colorCode) > 0) { %>
                                    <div class="status-pill" style="background-color: <%= colorCode %>; margin-left: 5px;" data-title="Registered" data-toggle="tooltip"></div>
                                    <% } %>
                                </td>
                                <td>
                                    <%= ageHelper(p.DOB.CalculatedDate) %>&nbsp;
                                    <%= if (p.Gender == "F") { %>
                                        <span><i class="fa fa-venus fa-lg"></i></span>
                                    <% } else { %>
                                        <span><i class="fa fa-mars fa-lg"></i></span>
                                    <% } %>
                                </td>
                                <td>
                                        <%= if (!psc.Eyes.AssessmentDate.CalculatedDate.IsZero()) { %>
                                            <%= languageDate(psc.Eyes.AssessmentDate.CalculatedDate, "02-Jan-2006", t("lang_calendar")) %>
                                        <% } else { %>
                                            <%= languageDate(psc.CreatedAt, "02-Jan-2006", t("lang_calendar")) %>
                                        <% } %>
                                </td>
                                <td>
                                        <%= if (len(p.OverReadings) > 0) { %>
                                            <% let pov = p.OverReadings[0] %>
                                            <%= languageDate(pov.CreatedAt, "02-Jan-2006", t("lang_calendar")) %>                                           
                                        <% } %>
                                </td>
                                <td>
                                    <%= if (len(p.OverReadings) > 0) { %>
                                    <span><i class="fa fa-check"></i></span>
                                    <% } else { %>
                                    <span><i class="fa fa-times"></i></span>
                                    <% } %>
                                </td>
                                <td class="row-actions" style="text-align: left; padding-left: .8rem; padding-right: .8rem;">
                                    <div class="row">
                                    <%= if (p.Status == "11" && (current_user.Permission.OverRead || current_user.Admin)) { %>
                                        <% let s = p.Screenings[0] %>
                                        <div class="action-item col-md-auto" style="padding-right: 0;">
                                            <%= if (sitePerm.OverReading.Create) { %>
                                            <a class="btn btn-sm btn-warning" href="<%= participantScreeningOverreadingsCreatePath({pid: p.ID, sid: s.ID}) %>" title="Over-read"><i class="fa fa-eye fa-sm"></i> Review Case</a>
                                            <% } %>
                                        </div>
                                    <% } else { %>
                                        <%= if (len(p.OverReadings) > 0) { %>
                                        <% let s = p.Screenings[0] %>
                                        <% let o = p.OverReadings[0] %>
                                        <%= if ((o.OverReader.ID.String() == current_user.ID.String()) || current_user.Admin) { %>
                                            <div class="action-item col-md-auto" style="padding-right: 0;">       
                                                <%= if (sitePerm.OverReading.Edit) { %>
                                                <a class="btn btn-sm btn-outline-primary" href="<%= participantScreeningOverreadingsEditPath({pid: p.ID, sid: s.ID, oid: o.ID}) %>" title="Over-read"><i class="fa fa-pencil-alt fa-sm"></i> Edit</a>   
                                                <% } %>                                                                               
                                            </div>
                                        <% } %>
                                        <div class="action-item col-md-auto" style="padding-right: 0;">                                        
                                            <a class="btn btn-sm btn-info" href="<%= participantScreeningOverreadingPath({pid: p.ID, sid: s.ID, oid: o.ID}) %>" title="Over-read"><i class="fa fa-eye fa-sm"></i> View</a>
                                        </div>
                                        <%= if (current_user.Admin) { %>
                                            <%= if (sitePerm.OverReading.Archive) { %>
                                            <form class="delete-form" action="<%= participantScreeningOverreadingsDeletePath({pid: p.ID, sid: s.ID, oid: o.ID}) %>" method="POST">
                                                <%= csrf() %>
                                                <input type="hidden" name="_method" value="DELETE" />
                                                <input type="hidden" name="reason" value="" />
                                                <div class="action-item col-md-auto" style="padding-right: 0;">                                        
                                                    <button class="btn btn-sm btn-outline-danger delete-btn" title="Over-read"><i class="fa fa-trash-alt fa-sm"></i> Delete</button>                                        
                                                </div>
                                            </form>
                                            <% } %>  
                                        <% } %>
                                        <% } %>
                                    <% } %>
                                </div>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>

                <div class="controls-below-table">
                    <%= partial("pagination.html") %>
                </div>
            </div>
        </div>
    </div>
</div>
