<div class="row justify-content-lg-center">
    <div class="col-sm-12">
        <div class="element-wrapper">
            <h6 class="element-header">
                <%= t("page_overreading_title") %>
            </h6>
            <div class="element-box">
                <!-- controls above table -->
                <div class="controls-above-table">
                    <div class="row">
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-6">
                            <form class="form-inline justify-content-sm-end">
                                <input class="form-control form-control-sm rounded bright" placeholder="Search" type="text">
                                <select class="form-control form-control-sm rounded bright" name="status">
                                    <option value="all" selected>
                                        <%= t("option_overreading_all") %>
                                    </option>
                                    <option value="open">
                                        <%= t("option_overreading_open") %>
                                    </option>
                                    <option value="completed">
                                        <%= t("option_overreading_completed") %>
                                    </option>
                                </select>
                                <button type="submit" class="btn btn-info btn-rounded">Go</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-lg table-striped" style="margin-bottom: 1rem; font-size: 0.75rem;">
                        <thead>
                            <tr>
                                <th style="text-align:left;">
                                    <%= t("th_participant_id") %>
                                </th>
                                <th>
                                    <%= t("th_demographics") %>
                                </th>
                                <th>
                                    <%= t("th_screening_date") %>
                                </th>
                                <th>
                                    <%= t("th_status") %>
                                </th>
                                <th style="width: 20%;">
                                    <%= t("th_actions") %>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <%= for (p) in participants { %>
                            <%
                            let colorCode = ""
                            let psc = p.Screenings[0]
                            let pov = ""
                            let flag = psc.DaysAgo()
                            if (flag < 5) {
                                colorCode = "green"
                            } else if (flag < 7) {
                                colorCode = "amber"
                            } else {
                                colorCode = "red"
                            }

                            if (len(p.OverReadings) > 0) {
                                colorCode = ""
                                pov = p.OverReadings[0]
                            }
                            %>
                            <tr>
                                <td style="text-align: left;">
                                    <%= p.ParticipantID %>
                                    <%= if (len(colorCode) > 0) { %>
                                    <div class="status-pill <%= colorCode %>" style="color: #<%= colorCode %>; margin-left: 5px;" data-title="Registered" data-toggle="tooltip"></div>
                                    <% } %>
                                </td>
                                <td>
                                    <%= ageHelper(p.DOB.CalculatedDate) %>&nbsp;
                                    <%= if (p.Gender == "F") { %>
                                        <span><i class="fa fa-venus fa-lg"></i></span>
                                    <% } else { %>
                                        <span><i class="fa fa-mars fa-lg"></i></span>
                                    <% } %>
                                </td>
                                <td>
                                    <%= psc.UpdatedAt.Format("2006-01-02") %>
                                </td>
                                <td>
                                    <%= if (len(p.OverReadings) > 0) { %>
                                    <span><i class="fa fa-check"></i></span>
                                    <% } else { %>
                                    <span><i class="fa fa-times"></i></span>
                                    <% } %>
                                </td>
                                <td class="row-actions">
                                    <%= if (p.Status == "11" && (current_user.Permission.OverRead || current_user.Admin)) { %>
                                        <% let s = p.Screenings[0] %>
                                    <a class="btn btn-sm btn-warning" href="<%= participantScreeningOverreadingsCreatePath({pid: p.ID, sid: s.ID}) %>" title="Over-read"><i class="fa fa-eye fa-sm"></i> Review Case</a>
                                    <% } else { %>
                                        <%= if (len(p.OverReadings) > 0) { %>
                                        <% let s = p.Screenings[0] %>
                                        <% let o = p.OverReadings[0] %>
                                        <a class="btn btn-sm btn-warning" href="<%= participantScreeningOverreadingPath({pid: p.ID, sid: s.ID, oid: o.ID}) %>" title="Over-read"><i class="fa fa-eye fa-sm"></i> View</a>
                                        <% } %>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>

                <div class="controls-below-table">
                    <div class="table-records-info">
                        <%= t("pagination_title") %>
                        <%= pagination.Offset + 1 %> -
                        <%= pagination.Offset + pagination.CurrentEntriesSize %> of
                        <%= pagination.TotalEntriesSize %>
                        |
                        <%= t("pagination_view_label") %>
                        <a href="?per_page=10">
                            <%= t("pagination_options_10") %></a> /
                        <a href="?per_page=20">
                            <%= t("pagination_options_20") %></a> /
                        <a href="?per_page=50">
                            <%= t("pagination_options_50") %></a>
                        <%= t("pagination_perpage_label") %>
                    </div>
                    <div class="table-records-pages">
                        <style>
                            .page-link {
                                border: none;
                                padding: 0 2px;
                            }
                        </style>
                        <%= paginator(pagination, {"class":"", "previousContent": "Previous", "nextContent": "Next"}) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
