<div class="row justify-content-lg-center">
    <div class="col-lg-10 col-sm-12">
        <div class="element-wrapper">
            <h6 class="element-header">
                Create New User
            </h6>
            <div class="row">
                <div class="col">
                    <%= if (errors) { %>
                    <%= for (key, val) in errors { %>
                    <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                        <%= val %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <% } %>
                    <% } %>
                </div>
            </div>
            <form action="<%= usersCreatePath() %>" method="POST" novalidate>
                <%= csrf() %>
                <div class="element-box">
                    <h5 class="form-header">
                        User Information
                    </h5>
                    <div class="form-desc">
                        Complete the form to create a new user
                    </div>
                    <fieldset class="form-group">
                        <legend><span>Demographics</span></legend>
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label for="">Name</label><input class="form-control" placeholder="Name" type="text"
                                        name="Name" value="<%= user.Name %>">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for=""> Site</label>
                                    <select class="form-control" name="Site">
                                            <option value="">
                                                All
                                            </option>
                                            <option value="K" <%= if (user.Site == "K") { %> selected <% } %>>
                                                <%= t("site_K") %> (PK)
                                            </option>
                                            <option value="L" <%= if (user.Site == "L") { %> selected <% } %>>
                                                <%= t("site_L") %> (PL)
                                            </option>
                                            <option value="N" <%= if (user.Site == "N") { %> selected <% } %>>
                                                <%= t("site_N") %> (PN)
                                            </option>
                                            <option value="O" <%= if (user.Site == "O") { %> selected <% } %>>
                                                <%= t("site_O") %> (PO)
                                            </option>
                                            <option value="R" <%= if (user.Site == "R") { %> selected <% } %>>
                                                <%= t("site_R") %> (PR)
                                            </option>
                                            <option value="S" <%= if (user.Site == "S") { %> selected <% } %>>
                                                <%= t("site_S") %> (PS)
                                            </option>
                                            <option value="T" <%= if (user.Site == "T") { %> selected <% } %>>
                                                <%= t("site_T") %> (PT)
                                            </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">Email</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="os-icon os-icon-email-2-at2"></i>
                                            </span>
                                        </div>
                                        <input class="form-control" placeholder="Email address" type="email" name="Email" value="<%= user.Email %>">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">  
                                <div class="form-group">
                                    <label for="mobile">Mobile</label>
                                    <input type="text" name="Mobile" id="mobile" placeholder="Enter mobile" class="form-control" value="<%= user.Mobile %>">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <legend><span>Role</span></legend>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-check form-group">
                                        <%= if (user.Admin) { %>
                                            <input class="btn form-check-input" type="checkbox" name="Admin" checked>
                                            <% } else { %>
                                            <input class="btn form-check-input" type="checkbox" name="Admin">
                                            <% } %>
                                            <strong>Is Admin?</strong>
                                            </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check form-group">
                                        <%= if (user.Permission.StudyCoordinator) { %>
                                            <input class="btn form-check-input" type="checkbox"
                                            name="Permission.StudyCoordinator" value="true" checked>
                                        <% } else { %>
                                            <input class="btn form-check-input" type="checkbox"
                                            name="Permission.StudyCoordinator" value="true">
                                        <% } %>
                                        <strong>Is Study Co-ordinator?</strong>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check form-group">
                                        <%= if (user.Permission.StudyTeamMember) { %>
                                            <input class="btn form-check-input" type="checkbox"
                                            name="Permission.StudyTeamMember" value="true" checked>
                                        <% } else { %>
                                            <input class="btn form-check-input" type="checkbox"
                                            name="Permission.StudyTeamMember" value="true">
                                        <% } %>
                                        <strong>Is Study Team Member?</strong>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <legend><span>Permissions</span></legend>
                        <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-check form-group">
                                        <label class="form-check-label">
                                                <%= if (user.Permission.Screening) { %>
                                                    <input class="btn form-check-input" type="checkbox"
                                                name="Permission.Screening" value="true" checked>
                                                <% } else { %>
                                                    <input class="btn form-check-input" type="checkbox"
                                                name="Permission.Screening" value="true">
                                                <% } %>
                                            Screening Permission
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-check form-group">
                                        <label class="form-check-label">
                                                <%= if (user.Permission.OverRead) { %>
                                                    <input class="btn form-check-input" type="checkbox"
                                                name="Permission.OverRead" value="true" checked>
                                                <% } else { %>
                                                    <input class="btn form-check-input" type="checkbox"
                                                name="Permission.OverRead" value="true">
                                                <% } %>
                                            Over Read Permission
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">   
                                    <div class="form-check form-group">
                                        <label class="form-check-label">
                                                <%= if (user.Permission.ReferralTracker) { %>
                                                    <input class="btn form-check-input" type="checkbox"
                                                name="Permission.ReferralTracker" value="true" checked>
                                                <% } else { %>
                                                    <input class="btn form-check-input" type="checkbox"
                                                name="Permission.ReferralTracker" value="true">
                                                <% } %>
                                            Referral Tracking Permission
                                        </label>
                                    </div>
                                </div>
                            </div>
                    </fieldset>
                </div>
                <div class="form-buttons-w">
                    <button class="btn btn-primary btn-lg" type="submit"> Submit</button>
                    <a class="btn btn-grey btn-md" role="button" href="/users/index"> <%= t("button_cancel") %></a>
                </div>
            </form>
        </div>
    </div>
</div>
