<div class="row">
	<div class="col-sm-12">
		<div class="element-wrapper">
			<h6 class="element-header">
				Users
			</h6>
			<div class="element-box">
				<div class="element-actions">
                    <a class="btn btn-primary btn" href="<%= usersCreatePath() %>" role="button">New User</a>
                </div>
				<!-- controls above table -->
				<div class="controls-above-table">
					<div class="row">
						<div class="col-sm-9">
							<form class="form-inline">
								<input class="form-control form-control-sm rounded bright" placeholder="Search" type="text"><select class="form-control form-control-sm rounded bright">
									<option selected="selected" value="">
										Select Role
									</option>
									<option value="admin">
										Admin
									</option>
									<option value="study_coordinator">
										Study Co-ordinator
									</option>
									<option value="screener">
										Screener
									</option>
									<option value="over-reader">
										Over Reader
									</option>
								</select>
                                <button type="submit" class="btn btn-info btn-rounded"><%= t("button_filter_status") %></button>
							</form>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-lg table-striped">
						<thead>
							<tr>
								<th class="text-center">
									<input class="form-control" type="checkbox">
								</th>
								<th>
									Email
								</th>
								<th>
									Name
								</th>
								<th>
									Mobile
								</th>
								<th>
									Site
								</th>
								<th>
									Role
								</th>
								<th>
									Registration Date
								</th>
								<th>
									Actions
								</th>
							</tr>
						</thead>
						<tbody>
							<%= for (user) in users { %>
							<tr>
								<td class="text-center">
									<input class="form-control" type="checkbox">
								</td>
								<td>
									<%= user.Email %>
								</td>
								<td>
									<%= user.Name %>
								</td>
								<td>
									<%= user.Mobile %>
								</td>
								<td class="text-center">
									<%= if (len(user.UserSites()) > 0) { %>
										<%= for (site) in user.UserSites() { %>
											<%= t("site_"+site) %> (P<%= site %>)
										<% } %>
									<% } %>
								</td>
								<td class="text-center">
									<%= if (user.Admin) { %>
									<div class="badge badge-primary">
										Admin
									</div>
									<% } %>

									<%= if (user.Permission.StudyCoordinator) { %>
									<div class="badge badge-primary">
										Study Co-ordinator
									</div>
									<% } %>

									<%= if (user.Permission.Screening) { %>
									<div class="badge badge-warning">
										Screener
									</div>
									<% } %>

									<%= if (user.Permission.OverRead) { %>
									<div class="badge badge-info">
										Over Reader
									</div>
									<% } %>

									<%= if (user.Permission.ReferralTracker) { %>
										<div class="badge badge-info">
											Referral Tracker
										</div>
									<% } %>

									<%= if (user.Permission.StudyTeamMember) { %>
										<div class="badge badge-default-inverted">
											Study Team Member
										</div>
									<% } %>
								</td>
								<td class="text-center">
									<%= user.CreatedAt.Format("02-Jan-2006") %>
								</td>
								<td class="row-actions">
									<%= if (user.ID.String() != current_user.ID.String()) { %>
									<a href="<%= usersEditPath({uid: user.ID}) %>"><i class="os-icon os-icon-pencil-1"></i></a>
									<% } %>
									<!-- <a href="#"><i class="os-icon os-icon-grid-10"></i></a> -->
									<!--<a class="danger" href="#"><i class="os-icon os-icon-ui-15"></i></a>-->
								</td>
							</tr>
							<% } %>
						</tbody>
					</table>
				</div>

				<div class="controls-below-table">
                    <%= partial("pagination.html") %>
                </div>
			</div>
		</div>
	</div>
</div>
