<h4 class="auth-header">
    <%= t("login_greeting") %>
</h4>

<%= partial("flash.html") %>

<%= if (errors) { %>
<%= errors %>
<%= for (key, val) in errors { %>
<div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
    <%= val %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>
<% } %>

<form>
    <div class="buttons">
        <a class="btn btn-success" href="/auth/google"><i class="fa fa-google"></i><span style="margin-left: 10px;">Sign in with Google</span></a>
    </div>
</form>

