<div style="padding: 60px 70px; border-top: 1px solid rgba(0,0,0,0.05);">
    <h1 style="margin-top: 0px;">
        Welcome to PIIA (peer)!
    </h1>
    <div style="color: #636363; font-size: 14px;">
        <p>
            Hi <%= name %>, an admin have created an account for you on our website, we are happy to welcome you in our family.
            We have a lot of cool features available on our website, you can checkout a quick outline of the
            most popular features below.
        </p>
    </div>
    <div style="border: 2px solid #4B72FA; padding: 40px; margin: 40px 0px;">
        <h4 style="margin-bottom: 20px; margin-top: 0px; font-size: 18px; display: inline-block; border-bottom: 1px dotted #111;">
            Get started
        </h4>
        <table style="width: 100%; border-top: 1px solid #eee">
            <tr>
                <td style="font-size: 14px;">
                    Your email: <strong><%= email %></strong>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <a href="<%= link %>" style="padding: 8px 20px; background-color: #4B72FA; color: #fff; font-weight: bolder; font-size: 16px; display: inline-block; margin: 10px 0px; text-decoration: none;">
                        Activate Account</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div style="background-color: #F5F5F5; padding: 40px; text-align: center;">
    <div style="margin-top: 20px; padding-top: 20px; border-top: 1px solid rgba(0,0,0,0.05);">
        <div style="color: #A5A5A5; font-size: 10px;">
            Copyright 2018 PIIA (peer). All rights reserved.
        </div>
    </div>
</div>
