<div style="padding: 60px 70px; border-top: 1px solid rgba(0,0,0,0.05);">
    <h1 style="margin-top: 0px;">
        Welcome to PIIA (peer)!
    </h1>
    <div style="color: #636363; font-size: 14px;">
        <p>
            Hi
            <%= name %>, you have been set-up with a new account for the Thaiger Study.
            To activate your account please <a href="<%= link %>">click here</a>
        </p>
    </div>
</div>
<div style="background-color: #F5F5F5; padding: 40px; text-align: center;">
    <div style="margin-top: 10px; padding-top: 20px; border-top: 1px solid rgba(0,0,0,0.05);">
        <div style="color: #A5A5A5; font-size: 10px;">
            Copyright 2018 PIIA (peer). All rights reserved.
        </div>
    </div>
</div>
