<div class="row justify-content-lg-center">
    <div class="col-12">
        <div class="element-wrapper">
            <h6 class="element-header">
                <%= t("page_enroll_title") %>
            </h6>
            <div class="row">
                <div class="col">
                    <%= if (errors) { %>
                    <%= for (key, val) in errors { %>
                    <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                        <%= val %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <% } %>
                    <% } %>
                </div>
            </div>
            <form action="<%= participantsCreatePath() %>" method="POST">
                <%= csrf() %>
                <div class="element-box">
                    <div class="form-desc">
                        <h6 class="form-header">
                        <%= t("form_enroll_header") %>
                        </h6>
                        <p class="lead"><%= t("form_enroll_desc") %></p>
                    </div>
                    <fieldset class="form-group">
                        <legend><span><%= t("participantID_field") %></span></legend>
                        <p class="lead"><%= t("participant_ID_description") %></p>
                        <div class="row">
                            <div class="col-sm-4">
                                <%= if (len(participant.ParticipantID) == 9) { %>
                                <input type="text" class="form-control form-control-lg participantID_field" name="ParticipantID" value="<%= participant.ParticipantID %>">
                                <% } else { %>
                                    <input type="text" class="form-control form-control-lg participantID_field" name="ParticipantID" value="<%= participantIDPrefix %>">
                                <% } %>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <legend><span><%= t("participant_personal_details") %></span></legend>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for=""> <%= t("label_year_birth") %></label>
                                    <div class="date-input">
                                        <%= if (!participant.DOB.GivenDate.IsZero()) { %>
                                            <input type="text" class="form-control birth_year_field" name="BirthYear" value="<%= participant.DOB.GivenDate.Format("2006") %>" data-inputmask-min="1900" data-inputmask-max="<%= currentDateInFormat(t("lang_calendar"), "2006") %>">
                                            <!-- <input class="single-daterange form-control" placeholder="Date of birth" type="date"
                                            name="DOB.GivenDate" value="<%= participant.DOB.GivenDate.Format("2006-01-02") %>"> -->
                                        <% } else { %>
                                            <%= if (t("lang_calendar") == "thai") { %>
                                                <input type="text" class="form-control birth_year_field" name="BirthYear" value="" data-inputmask-min="1900" data-inputmask-max="<%= currentDateInFormat(t("lang_calendar"), "2006") %>">

                                                <!-- <input class="single-daterange form-control" placeholder="Date of birth" type="date"
                                                name="DOB.GivenDate" value="<%= currentDate("thai") %>"> -->
                                            <% } else { %>
                                                <input type="text" class="form-control birth_year_field" name="BirthYear" value="" data-inputmask-min="1900" data-inputmask-max="<%= currentDateInFormat(t("lang_calendar"), "2006") %>">
                                                <!-- <input class="single-daterange form-control" placeholder="Date of birth" type="date"
                                                name="DOB.GivenDate" value=""> -->
                                            <% } %>
                                        <% } %>
                                    </div>
                                </div>
                                <input type="hidden" name="DOB.Calendar" value="<%= t("lang_calendar") %>">
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="gender"> <%= t("label_gender") %></label>
                                    <select class="form-control" name="Gender">
                                        <option value="M" <%= if (participant.Gender == "M") { %> selected <% } %>>
                                            <%= t("gender_option_male") %>
                                        </option>
                                        <option value="F" <%= if (participant.Gender == "F") { %> selected <% } %>>
                                            <%= t("gender_option_female") %>
                                        </option>
                                        <option value="O" <%= if (participant.Gender == "O") { %> selected <% } %>>
                                            <%= t("gender_option_other") %>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <legend><span><%= t("eligibility_header") %></span></legend>
                        <div class="form-group">
                            <div class="eligibility-criteria">
                                <p class="lead"><%= t("eligibility_text") %></p>
                        </div>
                        <hr/>
                        <div class="form-check">
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Consented"><%= t("eligibiligy_criteria_checkbox") %></label>
                        </div>
                    </fieldset>
                    <div class="form-buttons-w">
                    <button name="submitBtn" value="enrollGoBack" class="btn btn-primary btn-md" type="submit"><%= t("button_enroll") %></button>
                    <button name="submitBtn" value="enrollGoToScreening" class="btn btn-primary btn-md" type="submit"><%= t("button_enroll_continue") %></button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
