<div class="row justify-content-lg-center">
    <div class="col-12">
        <div class="element-wrapper">
            <h6 class="element-header">
                <%= t("page_enroll_title") %>
            </h6>
            <div class="row">
                <div class="col">
                    <%= if (errors) { %>
                    <%= for (key, val) in errors { %>
                    <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                        <%= val %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <% } %>
                    <% } %>
                </div>
            </div>
            <form action="<%= participantsCreatePath() %>" method="POST">
                <%= csrf() %>
                <div class="element-box">
                    <h5 class="form-header">
                        <%= t("form_enroll_header") %>
                    </h5>
                    <div class="form-desc">
                        <%= t("form_enroll_desc") %>
                    </div>
                    <fieldset class="form-group">
                        <legend><span><%= t("participantID_field") %></span></legend>
                        <p class="lead"><%= t("participant_ID_description") %></p>
                        <div class="row">
                            <div class="col-sm-4">
                                <%= if (len(participant.ParticipantID) == 9) { %>
                                <input type="text" class="form-control form-control-lg participantID_field" name="ParticipantID" value="<%= participant.ParticipantID %>">
                                <% } else { %>
                                    <input type="text" class="form-control form-control-lg participantID_field" name="ParticipantID" value="<%= participantIDPrefix %>">
                                <% } %>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <legend><span><%= t("participant_personal_details") %></span></legend>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for=""> Year of Birth</label>
                                    <div class="date-input">
                                        <%= if (!participant.DOB.GivenDate.IsZero()) { %>
                                            <input type="text" class="form-control birth_year_field" name="BirthYear" value="<%= participant.DOB.GivenDate.Format("2006") %>" data-inputmask-min="1900" data-inputmask-max="<%= currentDateInFormat(t("lang_calendar"), "2006") %>">                                            
                                            <!-- <input class="single-daterange form-control" placeholder="Date of birth" type="date"
                                            name="DOB.GivenDate" value="<%= participant.DOB.GivenDate.Format("2006-01-02") %>"> -->
                                        <% } else { %>
                                            <%= if (t("lang_calendar") == "thai") { %>
                                                <input type="text" class="form-control birth_year_field" name="BirthYear" value="" data-inputmask-min="1900" data-inputmask-max="<%= currentDateInFormat(t("lang_calendar"), "2006") %>">

                                                <!-- <input class="single-daterange form-control" placeholder="Date of birth" type="date"
                                                name="DOB.GivenDate" value="<%= currentDate("thai") %>"> -->
                                            <% } else { %>
                                                <input type="text" class="form-control birth_year_field" name="BirthYear" value="" data-inputmask-min="1900" data-inputmask-max="<%= currentDateInFormat(t("lang_calendar"), "2006") %>">
                                                <!-- <input class="single-daterange form-control" placeholder="Date of birth" type="date"
                                                name="DOB.GivenDate" value=""> -->
                                            <% } %>
                                        <% } %>
                                    </div>
                                </div>
                                <input type="hidden" name="DOB.Calendar" value="<%= t("lang_calendar") %>">
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for=""> Gender</label>
                                    <select class="form-control" name="Gender">
                                        <option value="M" <%= if (participant.Gender == "M") { %> selected <% } %>>
                                            Male
                                        </option>
                                        <option value="F" <%= if (participant.Gender == "F") { %> selected <% } %>>
                                            Female
                                        </option>
                                        <option value="O" <%= if (participant.Gender == "O") { %> selected <% } %>>
                                            Other
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <legend><span>Study Eligibility & Consent</span></legend>
                        <div class="form-group">
                            <div class="eligibility-criteria">
                                <p>Ensure all eligibility criteria are met and that:</p>
                                <ol>
                                    <li>Patient does not have any pre-existing eye disease</li>
                                    <li>Patient is able to give free and informed consent</li>
                                </ol>
                        </div>
                        <hr/>
                        <div class="form-check">
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Consented">By checking this box, you confirm
                                that (i) the patient is eligible for the study and (ii) has provided informed consent to participate</label>
                        </div>
                    </fieldset>
                </div>
                <div class="form-buttons-w">
                    <button name="submitBtn" value="enrollGoBack" class="btn btn-light btn-lg" type="submit">Enroll and Complete</button>
                    <!--<button name="submitBtn" value="enrollAddAnother" class="btn btn-secondary btn-lg" type="submit">Enroll and Add Another</button>-->
                    <button name="submitBtn" value="enrollGoToScreening" class="btn btn-grey btn-lg float-right" type="submit">Enroll and continue to Data Entry</button>
                </div>
            </form>
        </div>
    </div>
</div>
