<div class="row">
    <div class="col-sm-5">
        <div class="user-profile compact">
            <div class="up-head-w" style="background-color:#66788a;">
                <div class="up-social">
                    <a href="#" style="font-size: 30px;">
                        <%= participant.ParticipantID %>
                    </a>
                </div>
                <div class="up-main-info" style="padding-top: 10%;">
                    <h2 class="up-header">
                        <%= participant.Name %>
                    </h2>
                    <h6 class="up-sub-header">
                        <%= ageHelper(participant.DOB) %> old
                        <%= genderHelper(participant.Gender) %>
                    </h6>
                </div>
            </div>
            <div class="up-controls">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="value-pair">
                            <div class="label">
                                <%= if (participant.IDType == "hospital_id") { %>
                                <strong>Hospital ID</strong>
                                <% } else if (participant.IDType == "national_id") { %>
                                <strong>National ID</strong>
                                <% } %>
                            </div>
                            <div class="value badge badge-pill badge-success">
                                <%= participant.IDNumber %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a class="btn btn-primary btn-sm" href="tel:<%= participant.ContactNumber %>"><i class="fa fa-phone"></i>
                            <span>
                                <%= participant.ContactNumber %>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="up-contents">
                <div class="m-b">
                    <div class="row m-b">
                        <div class="col-sm-6 b-r b-b">
                            <div class="el-tablo centered padded-v">
                                <div class="value">
                                    25
                                </div>
                                <div class="label">
                                    Products Sold
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 b-b">
                            <div class="el-tablo centered padded-v">
                                <div class="value">
                                    315
                                </div>
                                <div class="label">
                                    Friends
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="padded">
                        <div class="os-progress-bar primary">
                            <div class="bar-labels">
                                <div class="bar-label-left">
                                    <span>Profile Completion</span><span class="positive">+10</span>
                                </div>
                                <div class="bar-label-right">
                                    <span class="info">72/100</span>
                                </div>
                            </div>
                            <div class="bar-level-1" style="width: 100%">
                                <div class="bar-level-2" style="width: 80%">
                                    <div class="bar-level-3" style="width: 30%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="os-progress-bar primary">
                            <div class="bar-labels">
                                <div class="bar-label-left">
                                    <span>Status Unlocked</span><span class="positive">+5</span>
                                </div>
                                <div class="bar-label-right">
                                    <span class="info">45/100</span>
                                </div>
                            </div>
                            <div class="bar-level-1" style="width: 100%">
                                <div class="bar-level-2" style="width: 30%">
                                    <div class="bar-level-3" style="width: 10%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="os-progress-bar primary">
                            <div class="bar-labels">
                                <div class="bar-label-left">
                                    <span>Followers</span><span class="negative">-12</span>
                                </div>
                                <div class="bar-label-right">
                                    <span class="info">74/100</span>
                                </div>
                            </div>
                            <div class="bar-level-1" style="width: 100%">
                                <div class="bar-level-2" style="width: 80%">
                                    <div class="bar-level-3" style="width: 60%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="element-wrapper">
            <div class="element-box">
                <h6 class="element-header">
                    User Activities
                </h6>
                <div class="timed-activities compact">
                    <%= for (key, val) in user_activities { %>
                    <div class="timed-activity">
                        <div class="ta-date">
                            <span><%= key %></span>
                        </div>
                        <div class="ta-record-w">
                            <%= for (v) in val { %>
                            <div class="ta-record">
                                <div class="ta-timestamp">
                                    <strong><%= v["time"] %></strong> <%= v["ampm"] %>
                                </div>
                                <div class="ta-activity">
                                    <%= v["msg"] %>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-7">
        <div class="element-wrapper" style="padding-bottom: 1rem;">
            <div class="element-box">
                <div class="element-info">
                    <div class="element-info-with-icon">
                        <div class="element-info-icon">
                            <div class="os-icon os-icon-wallet-loaded"></div>
                        </div>
                        <div class="element-info-text">
                            <h5 class="element-inner-header">
                                Screening
                            </h5>
                            <div class="element-inner-desc">
                                Check the detail screening information for this participant
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>JSON Data</label>
                    <textarea class="form-control" rows="15" id="screening-json-data" style='font-size: 11px; font-family: monospace,Menlo,Monaco,Consolas,"Liberation Mono","Courier New";'>
                        <%= participant.Screenings %>
                    </textarea>
                </div>
            </div>
        </div>

        <div class="element-wrapper">
            <div class="element-box">
                <div class="element-info">
                    <div class="element-info-with-icon">
                        <div class="element-info-icon">
                            <div class="os-icon os-icon-delivery-box-2"></div>
                        </div>
                        <div class="element-info-text">
                            <h5 class="element-inner-header">
                                Over Reading
                            </h5>
                            <div class="element-inner-desc">
                                Check the over reading information for this participant's eyes
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>JSON Data</label>
                    <textarea class="form-control" rows="15" id="overread-json-data" style='font-size: 11px; font-family: monospace,Menlo,Monaco,Consolas,"Liberation Mono","Courier New";'>
                        <%= participant.OverReadings %>
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</div>
