<!-- Demographics -->
<div class="row" style="margin-bottom: 10px;">
    <div class="col-sm-1" style="margin-right: -36px;">
        <span>
            <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 30px; color: #0073ff;"></i>
        </span>
    </div>
    <div class="col-sm-7">
        <div class="value-pair">
            <div class="value" style="font-size: 20px;">
                <%= participant.ParticipantID %>
            </div>
        </div>
        <div class="value-pair">
            <div class="value" style="font-size: 20px;">
                <%= genderHelper(participant.Gender) %>
            </div>
        </div>
        <div class="value-pair">
            <div class="value" style="font-size: 20px;">
                <%= ageHelper(participant.DOB.CalculatedDate) %>
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="margin-left: 36px;">
        <%= if (current_user.Admin) { %>
            <form class="delete-form" action="<%= participantsDeletePath({pid: participant.ID}) %>" method="POST">
                <%= csrf() %>
                <input type="hidden" name="_method" value="DELETE" />
                <input type="hidden" name="reason" value="" />
                <div class="action-item" style="float: right;">                                        
                    <button class="btn btn-outline-danger delete-btn" title="Delete"><i class="fa fa-trash-alt fa-sm"></i> Delete Participant</button>                                        
                </div>
            </form>
        <% } %>
    </div>
</div>

<!-- History -->
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-lightborder">
                <tbody>
                    <%= if (len(participant.Screenings) > 0) { %>
                    <% let psc = participant.Screenings[0] %>
                    <tr>
                        <td style="font-weight: bold; text-align: left;">
                            Screening Encounter
                        </td>
                        <td style="padding-right: 0;">
                        <%= if (current_user.Admin) { %>
                            <form class="delete-form" action="<%= participantScreeningsDeletePath({pid: participant.ID, sid: psc.ID}) %>" method="POST">
                                <%= csrf() %>
                                <input type="hidden" name="_method" value="DELETE" />
                                <input type="hidden" name="reason" value="" />
                                <div class="action-item" style="float: right;">                                        
                                    <button class="btn btn-sm btn-outline-danger delete-btn" title="Delete"><i class="fa fa-trash-alt fa-sm"></i> Delete Screening</button>                                        
                                </div>
                            </form>
                        <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: left;">
                            <%= if (!psc.Eyes.AssessmentDate.CalculatedDate.IsZero()) { %>
                                <%= languageDate(psc.Eyes.AssessmentDate.CalculatedDate, "02-Jan-2006", t("lang_calendar")) %>
                            <% } else { %>
                                <%= languageDate(psc.CreatedAt, "02-Jan-2006", t("lang_calendar")) %>
                            <% } %>
                            <span class="separator">|</span>
                            DR Screening
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px; font-weight: bold; text-align: left;">
                            Medical History
                        </td>
                        <td style="text-align: left;">
                            <%= if (psc.Diabetes.DiabetesType.Valid && psc.Diabetes.Duration.Valid && len(psc.Diabetes.DiabetesType.String)>0) { %>
                            <%= appendIfNotFound(psc.Diabetes.DiabetesType.String, "Diabetes") %> for
                            <%= psc.Diabetes.Duration %>
                            <%= psc.Diabetes.DurationType %>
                            <span class="separator">|</span>
                            <% } %>
                            <%= for (m) in psc.MedicalHistory.Morbidities { %>
                            <%= m %>
                            <span class="separator">|</span>
                            <% } %>
                            <%= if (psc.MedicalHistory.Smoker.Valid && psc.MedicalHistory.Smoker.Bool) { %>Smoker
                            <% } else { %>Non-Smoker
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px; font-weight: bold; text-align: left;">
                            Medications
                        </td>
                        <td style="text-align: left;">
                            <%= if (psc.Medications.TakingMedications.Valid && psc.Medications.TakingMedications.Bool) { %>Taking
                            oral medications
                            <% } else { %>Not taking oral medications
                            <% } %>
                            <span class="separator">|</span>
                            <%= if (psc.Medications.OnInsulin.Valid && psc.Medications.OnInsulin.Bool) { %>On Insulin
                            <% } else { %>Not on Insulin
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Notifications -->
<%= if (len(open_notifications) > 0) { %>
<div class="element-wrapper" style="padding-bottom: 1rem;">
    <div class="element-box" style="background-color: #f9f0cf;">
        <div class="element-info">
            <div class="element-info-with-icon">
                <div class="element-info-icon">
                    <div class="os-icon os-icon-others-43"></div>
                </div>
                <div class="element-info-text">
                    <h5 class="element-inner-header">
                        Notifications
                    </h5>
                    <div class="element-inner-desc">
                        Check the notifications for this participant
                    </div>
                </div>
            </div>
        </div>
        <div class="todo-list">
            <%= for (notification) in open_notifications { %>
            <a class="todo-item" href="#" data-target=".<%= notification.ID %>-modal-lg" data-toggle="modal">
                <div class="ti-info">
                    <div class="ti-header">
                        <%= notification.Type %> (
                        <%= notification.UpdatedAt.Format("02 Jan 2006 03:04:05pm") %>)
                    </div>
                    <div class="ti-sub-header">
                        From Over Reader:
                        <%= notification.Message %>
                    </div>
                </div>
                <div class="ti-icon">
                    <i class="os-icon os-icon-arrow-right7"></i>
                </div>
            </a>
            <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade <%= notification.ID %>-modal-lg" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <%= t("label_notification_modal") %>
                            </h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                                    aria-hidden="true"> &times;</span></button>
                        </div>
                        <form method="POST" action="<%= notificationsPath() %>">
                            <div class="modal-body">
                                <%= csrf() %>
                                <div class="form-group">
                                    <label for="status">
                                        <%= t("label_status") %></label>
                                    <select name="status" class="form-control">
                                        <option value="open">
                                            <%= t("notification_status_open") %>
                                        </option>
                                        <option value="nurse-notified">
                                            <%= t("notification_status_nurse_notified") %>
                                        </option>
                                        <option value="patient-contacted">
                                            <%= t("notification_status_patient_contacted") %>
                                        </option>
                                        <option value="referral-arranged">
                                            <%= t("notification_status_referral_arranged") %>
                                        </option>
                                        <%= if (current_user.Admin || current_user.Permission.StudyCoordinator) { %>
                                        <option value="archived">
                                            <%= t("notification_status_archived") %>
                                        </option>
                                        <% } %>
                                        <option value="closed">
                                            <%= t("notification_status_closed") %>
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="eventDate">
                                        <%= t("label_event_date") %></label>
                                    <input class="form-control" placeholder="Select date" type="date" name="eventDate"
                                        value="<%= currentDate(t(" lang_calendar")) %>">
                                    <input type="hidden" name="eventDateLanguage" value="<%= t("lang_calendar") %>">
                                </div>
                                <div class="form-group" style="margin-top: 1rem;">
                                    <label for="notes">
                                        <%= t("label_additional_notes") %></label>
                                    <textarea name="notes" id="notes" rows="6" class="form-control"></textarea>
                                </div>
                                <input type="hidden" name="notificationId" value="<%= notification.ID %>">
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">
                                    <%= t("button_cancel") %></button>
                                <button class="btn btn-primary" type="submit">
                                    <%= t("button_submit") %></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<% } %>

<!-- Timeline -->
<div class="row">
    <div class="col-sm-12">
        <div class="element-wrapper">
            <div class="element-box" style="padding: 1rem 1rem 0 1rem;">
                <div class="todo-app-w">
                    <div class="todo-content" style="padding: 0;">
                        <div class="all-tasks-w" style="padding-top: 0; padding-bottom: 0;">
                            <div class="tasks-section">
                                <div class="tasks-header-w" style="margin-top: 0;">
                                    <a class="tasks-header-toggler" href="#">
                                        <i class="os-icon os-icon-ui-23"></i>
                                    </a>
                                    <h5 class="tasks-header">
                                        Timeline
                                    </h5>
                                </div>
                                <div class="tasks-list-w" style="display: none;">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="timed-activities padded">
                                                <%= for (val) in activities_keys { %>
                                                <div class="timed-activity">
                                                    <div class="ta-date">
                                                        <span>
                                                            <%= val %></span>
                                                    </div>
                                                    <div class="ta-record-w">
                                                        <%= for (v) in user_activities[val] { %>
                                                        <div class="ta-record">
                                                            <div class="ta-timestamp">
                                                                <strong>
                                                                    <%= v["time"] %></strong>
                                                                <%= v["ampm"] %>
                                                            </div>
                                                            <div class="ta-activity">
                                                                <%= v["msg"] %>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Measurements and Pathology -->
<div class="row">
    <div class="col-sm-6">
        <div class="element-wrapper" style="padding-bottom: 1rem;">
            <div class="element-box">
                <div class="element-info">
                    <div class="element-info-with-icon">
                        <div class="element-info-icon">
                            <div class="os-icon os-icon-delivery-box-2"></div>
                        </div>
                        <div class="element-info-text">
                            <h5 class="element-inner-header">
                                Measurements
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <table class="table table-striped">
                        <tbody>
                            <%= if (len(participant.Screenings) > 0) { %>
                            <%= for (psc) in participant.Screenings { %>
                            <tr>
                                <td style="text-align: left;">
                                    <%= t("screening_measurements_bp") %>
                                </td>
                                <td style="text-align: left;">
                                    <%= if (psc.Measurements.BloodPressure.SBP.Valid && psc.Measurements.BloodPressure.DBP.Valid) { %>
                                    <%= psc.Measurements.BloodPressure.SBP %>/
                                    <%= psc.Measurements.BloodPressure.DBP %> mmHg
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <%= t("label_date_of_assessment") %>
                                </td>
                                <td style="text-align: left;">
                                    <%= if (psc.Measurements.BloodPressure.SBP.Valid && psc.Measurements.BloodPressure.DBP.Valid) { %>
                                    <%= languageDate(psc.Measurements.BloodPressure.AssessmentDate.CalculatedDate, "02-Jan-2006", t("lang_calendar")) %>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                            <% } else { %>
                            <tr>
                                <td colspan="2" class="text-center">No data found</td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="element-wrapper" style="padding-bottom: 1rem;">
            <div class="element-box">
                <div class="element-info">
                    <div class="element-info-with-icon">
                        <div class="element-info-icon">
                            <div class="os-icon os-icon-delivery-box-2"></div>
                        </div>
                        <div class="element-info-text">
                            <h5 class="element-inner-header">
                                Pathology
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <table class="table table-striped">
                        <tbody>
                            <%= if (len(participant.Screenings) > 0) { %>
                            <%= for (psc) in participant.Screenings { %>
                            <tr>
                                <td colspan="2" style="text-align: left;"><strong>
                                        <%= t("screening_measurements_blood_sugar") %> (
                                        <%= if (psc.Pathology.HbA1C.HbA1C.Valid) { %>
                                        <%= languageDate(psc.Pathology.HbA1C.AssessmentDate.CalculatedDate, "02-Jan-2006", t("lang_calendar")) %>
                                        <% } %>)</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <%= t("label_hba1c") %>
                                </td>
                                <td style="text-align: left;">
                                    <%= if (psc.Pathology.HbA1C.HbA1C.Valid) { %>
                                    <%= psc.Pathology.HbA1C.HbA1C %>
                                    <%= psc.Pathology.HbA1C.Unit %>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: left;"><strong>
                                        <%= t("screening_measurements_lipids") %> (
                                        <%= if (psc.Pathology.Lipids.TotalCholesterol.Valid) { %>
                                        <%= languageDate(psc.Pathology.Lipids.AssessmentDate.CalculatedDate, "02-Jan-2006", t("lang_calendar")) %>
                                        <% } %>)</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <%= t("label_total_cholesterol") %>
                                </td>
                                <td style="text-align: left;">
                                    <%= if (psc.Pathology.Lipids.TotalCholesterol.Valid) { %>
                                    <%= psc.Pathology.Lipids.TotalCholesterol %>
                                    <%= psc.Pathology.Lipids.Unit %>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                            <% } else { %>
                            <tr>
                                <td colspan="2" class="text-center">No data found</td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DR Assessments -->
<div class="row">
    <div class="col-sm-12">
        <div class="element-wrapper" style="padding-bottom: 1rem;">
            <div class="element-box">
                <div class="element-info">
                    <div class="element-info-with-icon">
                        <div class="element-info-icon">
                            <div class="os-icon os-icon-wallet-loaded"></div>
                        </div>
                        <div class="element-info-text">
                            <h5 class="element-inner-header">
                                DR Assessments
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <%= if (len(participant.Screenings) > 0) { %>
                                <table class="table table-striped">
                                    <tr>
                                        <td style="width: 200px;"></td>
                                        <td>
                                            <div class="img-thumbnail text-center">
                                                <img class="fullscreen-image" src="<%= rightEyeLink %>" data-high-res-src="<%= rightEyeLink %>">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="img-thumbnail text-center">
                                                <img class="fullscreen-image" src="<%= leftEyeLink %>" data-high-res-src="<%= leftEyeLink %>">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            <%= for (psc) in participant.Screenings { %>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 400px;"></th>
                                        <th style="text-align: left;">Right Eye</th>
                                        <th style="text-align: left;">Left Eye</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align: left;">
                                            <%= t("field_dilate_pupil") %>
                                        </td>
                                        <td style="text-align: left;">
                                            <%= if (psc.Eyes.RightEye.DilatePupil.Valid) { %>
                                            <%= if (psc.Eyes.RightEye.DilatePupil.Bool) { %>Yes
                                            <% } else { %>No
                                            <% } %>
                                            <% } %>
                                        </td>
                                        <td style="text-align: left;">
                                            <%= if (psc.Eyes.LeftEye.DilatePupil.Valid) { %>
                                            <%= if (psc.Eyes.LeftEye.DilatePupil.Bool) { %>Yes
                                            <% } else { %>No
                                            <% } %>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            <%= t("field_suspected_cataract") %>
                                        </td>
                                        <td style="text-align: left;">
                                            <%= if (psc.Eyes.RightEye.SuspectedCataract.Valid) { %>
                                            <%= if (psc.Eyes.RightEye.SuspectedCataract.Bool) { %>Yes
                                            <% } else { %>No
                                            <% } %>
                                            <% } %>
                                        </td>
                                        <td style="text-align: left;">
                                            <%= if (psc.Eyes.LeftEye.SuspectedCataract.Valid) { %>
                                            <%= if (psc.Eyes.LeftEye.SuspectedCataract.Bool) { %>Yes
                                            <% } else { %>No
                                            <% } %>
                                            <% } %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">
                                    <%= t("label_date_of_dr_assessment") %></label>
                                <label class="col-form-label col-sm-9">
                                    <%= if (!psc.Eyes.AssessmentDate.CalculatedDate.IsZero()) { %>
                                    <%= languageDate(psc.Eyes.AssessmentDate.CalculatedDate, "02-Jan-2006", t("lang_calendar")) %>
                                    <% } %>
                                </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-sm-3" for="">
                                    <%= t("section_referral_header") %></label>
                                <div class="col-form-label col-sm-9">
                                    <%= if (psc.Referral.Referred) { %>Yes
                                    <% } else { %>No
                                    <% } %>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">
                                    <%= t("label_referral_refused") %></label>
                                <label class="col-form-label col-sm-9">
                                    <%= if (psc.Referral.ReferralRefused) { %>Yes
                                    <% } else { %>No
                                    <% } %>
                                </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-sm-3" for="">
                                    <%= t("label_referral_reason") %></label>
                                <div class="col-form-label col-sm-9">
                                    <%= psc.Referral.ReferralReason %>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-sm-3" for="">
                                    <%= t("label_additional_notes") %></label>
                                <div class="col-form-label col-sm-9">
                                    <%= psc.Referral.Notes %>
                                </div>
                            </div>

                            <% } %>
                            <% } else { %>
                            <div style="width: 100%; text-align: center; font-size: 18px;">
                                No Data Found
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Over Reading Assessment -->
<div class="row">
    <div class="col-sm-12">
        <div class="element-wrapper" style="padding-bottom: 1rem;">
            <div class="element-box">
                <div class="element-info">
                    <div class="element-info-with-icon">
                        <div class="element-info-icon">
                            <div class="os-icon os-icon-wallet-loaded"></div>
                        </div>
                        <div class="element-info-text">
                            <h5 class="element-inner-header">
                                Over Reading Assessments
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <%= if (len(participant.OverReadings) > 0) { %>
                            <%= for (pov) in participant.OverReadings { %>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 200px;"></th>
                                        <th style="text-align: left;">Right Eye</th>
                                        <th style="text-align: left;">Left Eye</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align: left;">
                                            <%= t("field_dr_grading") %>
                                        </td>
                                        <td style="text-align: left;">
                                            <%= pov.Eyes.RightEye.DRGrading %>
                                        </td>
                                        <td style="text-align: left;">
                                            <%= pov.Eyes.LeftEye.DRGrading %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            <%= t("field_dme_assessment") %>
                                        </td>
                                        <td style="text-align: left;">
                                            <%= pov.Eyes.RightEye.DMEAssessment %>
                                        </td>
                                        <td style="text-align: left;">
                                            <%= pov.Eyes.LeftEye.DMEAssessment %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            <%= t("label_suspected_pathology") %>
                                        </td>
                                        <td style="text-align: left;">
                                            <%= for (i, m) in pov.Eyes.RightEye.SuspectedPathologies { %>
                                                <%= m %> 
                                                <%= if (i < len(pov.Eyes.RightEye.SuspectedPathologies)-1) { %>
                                                <span class="separator">|</span>
                                                <% } %>
                                            <% } %>
                                        </td>
                                        <td style="text-align: left;">
                                                <%= for (i, m) in pov.Eyes.LeftEye.SuspectedPathologies { %>
                                                    <%= m %> 
                                                    <%= if (i < len(pov.Eyes.LeftEye.SuspectedPathologies)-1) { %>
                                                        <span class="separator">|</span>
                                                    <% } %>
                                                <% } %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">
                                    <%= t("section_referral_header") %></label>
                                <label class="col-form-label col-sm-9">
                                    <%= if (pov.Referral.Referred) { %>Yes
                                    <% } else { %>No
                                    <% } %>
                                </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-sm-3" for="">
                                    <%= t("label_additional_notes") %></label>
                                <div class="col-form-label col-sm-9">
                                    <%= pov.Referral.Notes %>
                                </div>
                            </div>

                            <% } %>
                            <% } else { %>
                            <div style="width: 100%; text-align: center; font-size: 18px;">
                                No Data Found
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= if (drReferral || ovReferral) { %>
<!-- Referral -->
<div class="row">
    <div class="col-sm-12">
        <div class="element-wrapper" style="padding-bottom: 1rem;">
            <div class="element-box">
                <div class="element-info">
                    <div class="element-info-with-icon">
                        <div class="element-info-icon">
                            <div class="os-icon os-icon-delivery-box-2"></div>
                        </div>
                        <div class="element-info-text">
                            <h5 class="element-inner-header">
                                Referral
                                <%= if (drReferral) { %>
                                    <span class="badge badge-primary"><%= t("role_screener") %></span>
                                <% } %>
                                <%= if (ovReferral) { %>
                                    <span class="badge badge-success"><%= t("role_reader") %></span>
                                <% } %>
                            </h5>
                            <div class="element-inner-desc">
                                Referral Data
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="text-align: left;">Time</th>
                                <th style="text-align: left;">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%= if (len(participant.Referrals) > 0) { %>
                            <%= for (prf) in participant.Referrals { %>
                            <tr>
                                <td style="text-align: left;">
                                    Entry:
                                    <%= prf.CreatedAt.Format("2006-01-02") %><br><br>
                                    Date of attendance:
                                    <%= prf.ReferralData.DateOfAttendance.CalculatedDate.Format("2006-01-02") %>
                                </td>
                                <td style="text-align: left;">
                                    Attended:
                                    <%= prf.ReferralData.Attended %><br>
                                    Plans:
                                    <%= for (i, m) in prf.ReferralData.Plans { %>
                                        <%= m %> 
                                        <%= if (i < len(prf.ReferralData.Plans)-1) { %>
                                            <span class="separator">|</span>
                                        <% } %>
                                    <% } %><br><br>
                                    Referred for Treatment:
                                    <%= prf.ReferralData.ReferredForTreatment %><br>
                                    Follow Up Plan:
                                    <%= prf.ReferralData.FollowUpPlan %><br>
                                    Message:
                                    <%= prf.Message %>
                                </td>
                            </tr>
                            <%= if (prf.ReferralData.HospitalName.Valid) { %>
                            <tr>
                                <td style="text-align: left;" colspan="2">
                                    Referred Hospital:
                                    <%= prf.ReferralData.HospitalName %>
                                </td>
                            </tr>
                            <% } %>
                            <% } %>
                            <% } else { %>
                            <tr>
                                <td colspan="2" class="text-center">No data found</td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>
