<div class="row justify-content-lg-center">
    <div class="col-lg-auto">
        <div class="element-wrapper">
            <h6 class="element-header">
                Enrol into study
            </h6>
            <div class="row">
                <div class="col">
                    <%= if (errors) { %>
                    <%= for (key, val) in errors { %>
                    <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                        <%= val %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <% } %>
                    <% } %>
                </div>
            </div>
            <form action="<%= participantsEditPath({pid: participant.ID}) %>" method="POST">
                <%= csrf() %>
                <div class="element-box">
                    <h5 class="form-header">
                        Update Participant
                    </h5>
                    <div class="form-desc">
                        Complete the form to update a participant in the study
                    </div>
                    <fieldset class="form-group">
                        <legend><span>Patient Information</span></legend>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">ID Type</label>
                                    <select class="form-control" name="IDType">
                                        <%= if (participant.IDType == "hospital_id") { %>
                                        <option value="hospital_id" selected>
                                            Hospital Id
                                        </option>
                                        <option value="national_id">
                                            National Id
                                        </option>
                                        <% } else { %>
                                        <option value="hospital_id">
                                            Hospital Id
                                        </option>
                                        <option value="national_id" selected>
                                            National Id
                                        </option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label for="">Patient ID</label><input class="form-control" placeholder="Id number"
                                        type="text" name="IDNumber" value="<%= participant.IDNumber %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="">Name</label><input class="form-control" placeholder="Name" type="text"
                                        name="Name" value="<%= participant.Name %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for=""> Date of Birth</label>
                                    <div class="date-input">
                                        <input class="single-daterange form-control" placeholder="Date of birth" type="date"
                                            name="DOB" value='<%= participant.DOB.Format("2006-01-02") %>'>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for=""> Gender</label>
                                    <select class="form-control" name="Gender">
                                        <%= if (participant.Gender == "M") { %>
                                        <option value="M" selected>Male</option>
                                        <option value="F">Female</option>
                                        <option value="O">Other</option>
                                        <% } else if(participant.Gender == "F") { %>
                                        <option value="M">Male</option>
                                        <option value="F" selected>Female </option>
                                        <option value="O">Other</option>
                                        <% } else { %>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                        <option value="O" selected>Other</option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="">Contact Number</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">+66</span>
                                        </div>
                                        <input class="form-control" placeholder="Contact number" type="text" name="ContactNumber"
                                            value="<%= participant.ContactNumber %>">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <legend><span>Study Consent</span></legend>
                        <div class="form-check">
                            <label class="form-check-label">
                                <%= if (participant.Consented) { %>
                                <input class="btn form-check-input" type="checkbox" name="Consented" checked>
                                <% } else { %>
                                <input class="btn form-check-input" type="checkbox" name="Consented">
                                <% } %>
                                Confirm that the patient has provided informed consent</label>
                        </div>
                    </fieldset>
                </div>
                <div class="form-buttons-w">
                    <button class="btn btn-primary" type="submit"> Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
